/*! Elementos da direita ------------------------------------------------------------ */
.containerRight{
    background-image: url(../assets/backgrounds/cover5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}
.imgPerfilB{
    height: 20vh;
    width: 11.3vw;
    img{
        height: 20vh;
        border-radius: 50%;
    }
}
.botaoAddFoto{
    height: 5vh;
    width: 10vW;
    background-color: #E6E7EB;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    color: #3B4F66;
}
.tituloA{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloAdd{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 25px;
}
.guiaAdd{
    width: 30vh;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
/*! Reset do CSS --------------------------------------------------------------------- */
/*! Elemrentos da esquerda ----------------------------------------------------------- */
.containerLeft{
    background-color: #ffffff;
    height: 60vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 4vh;
}

.inputTitulo{
    display: flex;
}
.asterisco{
    color: #A4161A;
}
.nomeB, .emailB, .senhaB{

    width: 22vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    p{
       font-family: "Montserrat", sans-serif; 
       font-weight: 600;
       font-size: 20px;
    }
    input{
        border: 3px solid #D9D9D9;
        border-radius: 10px;
        height: 6vh;
        width: 22vw;
        font-size: 20px;
        padding-left: 1rem;
    }
    input[type="password"]{
        font-size: 35px;
    }
}
.caixaBarraHorizontal{
    display: flex;
    align-items: center;
    height: 3vh;
    margin-top: 4vh;
}
.barraHorizontal {
    border: 1px solid #DBDBDB;
    width: 42vh;
}

.caixaBotoes{
    height: 7vh;
    width: 23.5vw;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    font-family: "anton", sans-serif; 
    font-weight: 100;
    font-size: 23px;
}
.cancel, .save{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5vh;
    width: 6vw;
    border-radius: 13px;

}
.cancel {
    background-color: #E6E7EB;
    color: #3B4F66;
}
.save{
    background-color: #3fc379;
    color: #ffffff;
}
/*! Hovers --------------------------------------------------------------------------- */
.cancel:hover , .save:hover{
    cursor: pointer;
}

/*! Responsividade --------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px){

    .containerLeft, .containerRight {
        height: 50%;
        
    }


    .containerLeft{
        width: 45vw;
        padding: 20px 0;
    }

    .containerRight{
        width: 45vw;
        background-size: cover;
    }

    .nomeB, .emailB, .senhaB{
        width: 35vw;
    }

    .nomeB input, .emailB input, .senhaB input{
        width: 35vw;
    }

      button, p{
        height: 2rem;
        width: 3rem;
        font-size: 1rem;
    }


    .barraHorizontal{
        width: 30vw;
    }

    .caixaBotoes{
        width: 40vw;
    }
}



@media only screen and (max-width: 768px){

    /* Modal vira coluna */
    .modalContainer{
        flex-direction: column !important;
        height: auto;
        width: 90vw;
        padding-bottom: 20px;
    }

    .containerLeft{
        width: 90vw;
        height: auto;
        gap: 20px;
    }

    .containerRight{
        width: 90vw;
        height: 40vh;
        background-size: cover;
        padding: 15px 0;
    }

    .nomeB, .emailB, .senhaB{
        width: 80vw;
    }
    .nomeB input, .emailB input, .senhaB input{
        width: 80vw;
    }

    .barraHorizontal{
        width: 75vw;
    }

    .caixaBotoes{
        width: 80vw;
        justify-content: center;
        gap: 2rem;
    }

    .cancel, .save{
        width: 25vw;
    }
}