/*! Reset do CSS --------------------------------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*! Background ----------------------------------------------------------------------- */
body{
    background-image: url(../../public/assets/Covers/cover4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*! Caixa do modal ------------------------------------------------------------------- */
.criarU{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 50vw;
    height: 60vh;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
}
/*! Elementos da direita ------------------------------------------------------------ */
.containerRight{
    background-image: url(../assets/Covers/cover5.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}
.imgPerfil{
    height: 20vh;
    width: 11.3vw;
    img{
        height: 20vh;
        border-radius: 50%;
    }
}
.botaoAddFoto{
    height: 5vh;
    width: 10vW;
    background-color: #E6E7EB;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    color: #3B4F66;
}
.tituloA{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloAdd{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 25px;
}
.guiaAdd{
    width: 30vh;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
/*! Reset do CSS --------------------------------------------------------------------- */
/*! Elemrentos da esquerda ----------------------------------------------------------- */
.containerLeft{
    background-color: #ffffff;
    height: 60vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px
}


.nome, .email, .senha{
    border: 1px solid orangered;
    width: 20vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    p{
       font-family: "Montserrat", sans-serif; 
       font-weight: 600;
       font-size: 20px;
    }
    input{
        border: 3px solid #D9D9D9;
        border-radius: 10px;
        height: 5vh;
        width: 20vw;
    }
}

.barraHorizontal {
    border: 1px solid #DBDBDB;
    width: 42vh;
}