/*! Mobile ------------------------------------------------------------------------------- */
@media (max-width: 425px){
    .conteudo{
        width: 80%;
    }
    .blur{
        width:100%;
    }
    .logo{
        height: 36%;
    }
    .links{
        height: 28%;
        width: 90vw;
    }
    a{
        font-size: 20px;
    }
    .postagens, .usuarios{
        padding-left: 1.4rem;
        gap: 0.7rem;
    }
    .usuarios{
        gap: 0.9rem;
    }
    .linkIcone{
        height: 65%;
        width: 25%;
        border-radius: 20px;
    }
    .iconeHome, .iconeLogout{
        height: 8vh;
        width: 8vh;
    }
}
/*! Tablet ------------------------------------------------------------------------------- */
@media (min-width: 426px) and (max-width: 768px){
    .conteudo{
        width: 80%;
    }
    .blur{
        width:100%;
    }
    .logo{
        height: 50%;
    }
    .links{
        height: 28%;
        width: 60vw;
    }
    a{
        font-size: 23px;
    }
    .postagens, .usuarios{
        padding-left: 1.4rem;
        gap: 4.3rem;
    }
    .usuarios{
        gap: 5rem;
    }
    .linkIcone{
        height: 70%;
        width: 18%;
        border-radius: 20px;
    }
    .iconeHome, .iconeLogout{
        height: 8vh;
        width: 8vh;
    }
}
/*! Laptop ------------------------------------------------------------------------------- */
@media (min-width: 769px) and (max-width: 1024px){
        .conteudo{
        width: 80%;
    }
    .blur{
        width:100%;
    }
    .logo{
        height: 50%;
    }
    .links{
        height: 28%;
        width: 50vw;
    }
    a{
        font-size: 23px;
    }
    .postagens, .usuarios{
        padding-left: 1.4rem;
        gap: 6rem;
    }
    .usuarios{
        gap: 6.5rem;
    }
    .linkIcone{
        height: 70%;
        width: 15%;
        border-radius: 20px;
    }
    .iconeHome, .iconeLogout{
        height: 8vh;
        width: 8vh;
    }

}
/*! Laptop L ----------------------------------------------------------------------------- */
@media (min-width: 1025px) and (max-width: 1440px){
    .links{
        width: 35vw;
    }
    .postagens, .usuarios{
        padding-left: 1.4rem;
        gap: 6.1rem;
    }
    .usuarios{
        gap: 6.6rem;
    }
    a{
        font-size: 22px;
    }
}