/*! Reset do CSS -------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*! Define o fundo da página -------------------------------------------------------------- */
.background {
    height: 100vh;
    width: 100%;

    background-image: url(../assets/Covers/cover3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*! Aplica o blur ------------------------------------------------------------------------- */
.blur{
    height: 100%;
    backdrop-filter: blur(8px);
}
/*! Organiza dimensionamento e disposição do conteudo ------------------------------------- */
/*disposição*/
.blur{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*dimensionamento*/
.conteudo{
    height: 83%;
    width: 40%;
}
/*! Organiza dimensionamento e disposição dos elementos do conteudo ----------------------- */
/*disposição*/
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1.3rem;
    margin-bottom: 1rem;
}
/*dimensionamento*/
.logo{
    height: 50%;
}
.links{
    height: 28%;
    width: 70%;
}
.botoes{
    height: 15%;
    width: 35%;
}
/*! Organiza Logo --------------------------------------------------------------------------- */
.logo{
    img{
        height: 100%;
    }
}
/*! Cria links ------------------------------------------------------------------------------ */
/*disposição dos elementos da div links*/
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
/*dimensionamento dos botões*/
.postagens, .usuarios{
    height: 50%;
    width: 100%;
    border-radius: 25px;
}
/*Estilo do texto*/
a{
    color: #E5E5E5;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
}
/*posiciona texto*/
a{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*estiliza links*/
.postagens, .usuarios{
    background-color: rgba(140, 140, 140, 0.288);
}
/*Estiliza icones*/
.linkIcone{
    background-color:#0A3A55;

    height: 65%;
    width: 14.5%;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*posiciona elementos no botão*/
.postagens, .usuarios{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1.4rem;
    gap: 6.4rem;
}
.usuarios{
    gap: 7rem;
}
/*! Cria botões ----------------------------------------------------------------------------- */
/*disposição dos elementos da div botoes*/
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
/*disposição do conteudo dos botões*/
.home , .logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
/*estiliza texto*/
.home , .logout{
    color: #E5E5E5;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
/*estiliza botões*/
.iconeHome, .iconeLogout{
    height: 7vh;
    width: 7vh;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.iconeHome{
    background-color: #E4A11B;
    img {
        width: 3rem;
    }
}
.iconeLogout{
    background-color: #A4161A;
    img {
        width: 2.3rem;
    }
}
/*! Hovers ---------------------------------------------------------------------------------- */
/*logo*/
.logoImg{
    transition: transform 0.2s ease-in-out;
    transition-timing-function: ease-in-out;
}
.logoImg:hover{
    transform: scale(1.03);
}
/*links*/
.postagens, .usuarios, .linkIcone{
    transition: all 0.3s ease-in-out;
    transition-timing-function: ease-in-out;
}
.postagens:hover, .usuarios:hover{
    transform: scale(1.04);
    background-color: rgba(140, 140, 140, 0.466);
    .linkIcone{
        background-color: #0c4464;
    }
}
/*botões*/
.home , .logout, .iconeHome, .iconeLogout{
    transition: all 0.2s ease-in-out;
    transition-timing-function: ease-in-out;
}
.home:hover, .logout:hover{
    transform: scale(1.06);
}
.home:hover{
    .iconeHome{
        background-color: #f3b230;
    }
}
.logout:hover{
    .iconeLogout{
        background-color: #c51d23;
    }
}