/* ! Reset do CSS ------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! -------------------------------------------- */

/* ! Background --------------------------------- */
.background {
    /* dimensionando o background */
    height: 100vh;
    width: 100%;
    /* configurando a imagem */
    background-image: url(../assets/cover3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* configurando disposição dos filhos */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ! -------------------------------------------- */

/* ! Conteúdo ----------------------------------- */
.conteudo {
    border: 3px solid orangered;
    /* configurando dimensões da caixa */
    width: 40%;
    height: 75%;
    /* disposição dos filhos*/
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

/* * Elementos ---------------------------------- */
/* * -- Imagem ---------- */
.conteudo img {
    width: 20vw;
}
/* * ------------------- */

/* * -- Links ---------- */
.links {
    border: 2px solid greenyellow;
    /* dimensões da caixa */
    width: 30vw;
    /* disposição dos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.postagens{
    border: 2px solid purple;
    /* dimensões da caixa */
    height: 10vh;
    width: 30vw;
}

.usuarios{
    border: 2px solid orange;
    /* dimensões da caixa */
    height: 10vh;
    width: 30vw;
}

/* * ------------------- */

/* * -- Botões --------- */
.botoes {
    border: 2px solid white;
    margin-top: 2rem;

    /* disposição dos filhos */
    display: flex;
    gap: 2rem;
}

.home {
    border: 2px solid orange;
    /* dimensões */
    height: 7vh;
    width: 7vh;
}

.logout {
    border: 2px solid red;
    /* dimensões */
    height: 7vh;
    width: 7vh;
}
/* * ------------------- */
/* * -------------------------------------------- */

/* ! -------------------------------------------- */
