/* ! Reset do CSS ------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! -------------------------------------------- */

/* ! Background --------------------------------- */
.background {
    /* dimensionando o background */
    height: 100vh;
    width: 100%;
    /* configurando a imagem */
    background-image: url(../assets/cover3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* configurando disposição dos filhos */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ! -------------------------------------------- */

/* ! Conteúdo ----------------------------------- */
.conteudo {
    /* configurando dimensões da caixa */
    width: 40%;
    height: 83%;
    /* disposição dos filhos*/
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

/* * Elementos ---------------------------------- */
/* * -- Imagem ---------- */
.conteudo img {
    width: 24vw;
}
/* * ------------------- */

/* * -- Links ---------- */
.links {
    /* dimensões da caixa */
    width: 30vw;
    /* posiciona em relação a imagem */
    margin-top: 2rem;
    /* disposição dos filhos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* estilo dos filhos */
    color: #E5E5E5;
}

.postagens{
    /* dimensões da caixa */
    height: 10vh;
    width: 28vw;
    border-radius: 25px;
    /* estilo */
    background-color: rgba(140, 140, 140, 0.48);
    /* disposição dos filhos */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    /* texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    .icone {
        /*disposição de conteúdo */
        display: flex;
        justify-content: center;
        align-items: center;
        /* formato de caixa */
        height: 5rem;
        width: 5rem; 
        border-radius: 20px;
        /* estilo da caixa */
        background-color: #0A3A55;
        img{
            width: 3rem;
        }
    }
    p{
        margin-left: 20%;
    }
}

.usuarios{
    /* dimensões da caixa */
    height: 10vh;
    width: 28vw;
    border-radius: 25px;
    /* estilo */
    background-color: rgba(140, 140, 140, 0.48);
    /* disposição dos filhos */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1rem;
    /* texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    .icone {
        /*disposição de conteúdo */
        display: flex;
        justify-content: center;
        align-items: center;
        /* formato de caixa */
        height: 5rem;
        width: 5rem; 
        border-radius: 20px;
        /* estilo da caixa */
        background-color: #0A3A55;
        img{
            width: 3rem;
        }
    }
    p{
        margin-left: 20%;
    }
}

/* * ------------------- */

/* * -- Botões --------- */
.botoes {
    /* posiciona em relação aos links*/
    margin-top: 2rem;
    /* disposição dos filhos */
    display: flex;
    gap: 2rem;
}

.home {
    /*estilo do texto*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E5E5E5;
    /* disposição de conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}
.caixaHome {
    /* dimensões */
    height: 7vh;
    width: 7vh;
    border-radius: 20px;
    /* estilo */
    background-color: #E4A11B;
    /* ajude de elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 3rem;
    }
}

.logout{
    /*estilo do texto*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E5E5E5;
    /* disposição de conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.caixaLogout {
    /* dimensões */
    height: 7vh;
    width: 7vh;
    border-radius: 20px;
    /*estilo*/
    background-color: #A4161A;
    /* ajude de elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 2.3rem;
    }
}
/* * ------------------- */
/* * -------------------------------------------- */

/* ! -------------------------------------------- */

/* ! Responsividade ----------------------------- */

@Media (max-width: 390px) {
    .links{
        width: 40vh;
    }
    .postagens{
        width: 40vh;
        font-size: 20px;
        .icone{
            height: 4rem;
            width: 4rem; 
            img {
                width: 1.8rem;;
            }
        }
        p {
            margin-left: 13%;
        }
    }
    .usuarios{
        width: 40vh;
        font-size: 20px;
        .icone{
            height: 4rem;
            width: 4rem; 
            img {
                width: 1.8rem;;
            }
        }
        p {
            margin-left: 15%;
        }
    }
    .conteudo img {
        width: 35vh;
    }
    .home{
        font-size: 12px;

        .caixaHome{
            img{
            width: 2.2rem;
            }
        }
    }

    .logout{
    
        font-size: 12px;
    
        .caixaLogout{
            img{
                width: 1.6rem;
            }
        }
    }

}