/*! Elementos da direita ------------------------------------------------------------ */
.containerRight{
    background-image: url(../assets/backgrounds/cover5.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 2rem;
    border-radius: 4% 0 0 4%;
}
.imgPerfilB{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoAddFoto{
    height: 5vh;
    width: 10vW;
    background-color: #E4A11B;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    color: #3B4F66;
}

.botaoAddFoto:hover{
    background-color: #e2be74;
    transition: 0.5s;
}

.tituloA{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.tituloAdd{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 25px;
}

.guiaA{
    display: flex;
    justify-content: center;}

.guiaAdd{
    width: 30vh;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}
/*! Reset do CSS --------------------------------------------------------------------- */
/*! Elemrentos da esquerda ----------------------------------------------------------- */
.containerLeft{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 0 4% 4% 0;
    padding-bottom: 2%;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 4vh;
    width: 100%;
    padding: 0 10%;
}

.inputTitulo{
    display: flex;
}
.nomeB, .emailB, .senhaB{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
    p{
       font-family: "Montserrat", sans-serif; 
       font-weight: 600;
       font-size: 20px;
    }
    input{
        border: 3px solid #D9D9D9;
        border-radius: 10px;
        height: 6vh;
        width: 100%;
        font-size: 20px;
        padding-left: 1rem;
        color:rgb(71, 71, 71);
    }
    input[type="password"]{
        font-size: 35px;
    }
}
.iconeEdit{
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 1.3rem;
}
.caixaBarraHorizontal{
    display: flex;
    align-items: center;
    height: 3vh;
    margin-top: 4vh;
}
.barraHorizontal {
    border: 1px solid #DBDBDB;
    width: 42vh;
}

.caixaBotoes{
    height: 7vh;
    width: 23.5vw;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    font-family: "anton", sans-serif; 
    font-weight: 100;
    font-size: 23px;
    padding-right: 3%;
    .cancel, .save{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.5vh;
        width: 6vw;
        border-radius: 13px;

    }

    .cancel {
        background-color: #E6E7EB;
        color: #3B4F66;
        cursor: pointer;
    }
    .save{
        background-color: #3fc379;
        color: #ffffff;
        cursor: pointer;
    }
}

.cancel:hover{
    background-color: #810900;
    color: #fafafa;
    transition: 0.5s;
}

.save:hover{
    background-color: #47df96;
    transition: 0.5s;
}

.imagemBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imagemBotao img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px outset #E4A11B;
}

