body {
    margin: 0;
    padding: 0;
    display: flex;
    background-repeat: no-repeat;           
    background-size: cover;                  
    background-position: center;            
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;            
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;        
}

/*Configuração do container de "Criar"*/
.modal-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    overflow-y: auto;
}

/*Configuração do container de "Editar"*/
.editar-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px); 
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/*Configuração do container de "Visualizar"*/
.ver-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px); 
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;  
    padding: 2rem;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;  
    background-image: url(../assets/cover5.png);
    padding: 3rem 2rem 2rem 2rem;
    background-size: cover;
    background-position: center;
    color: white;
}

.info-text {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 2rem;
    gap: 0.5rem;
    text-align: center;
    p1 {
        font-size: 22px;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }
}

/*Fim das configurações dos containers*/

.container-all{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 70vw;
    position: absolute;
}

.form-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

.form-box {
    background: #ffffff;
    padding: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form-box h2 {
    grid-column: span 2;
    font-size: 24px;
    margin-bottom: 10px;
}

.head{
    background-image: url("./../assets/cover5.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding-left: 2%;
    font-size: larger;
}

.header-box{
    grid-column: span 2;
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #141414;
    outline: none;
}

textarea {
    height: 250px;
    resize: none;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}

.card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: #E6E7EB;
        padding: 20px 10px;
    }


.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    padding: 10px 10px;
    border-radius: 3vh;
}

.image-btn {
    height: 5vh;
    width: 11vW;
    background-color: #E6E7EB;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    color: #3B4F66;
    cursor: pointer;
}

.image-btn:hover {
    opacity: 0.9;
}



.save-cancel-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background: transparent;
    border: none;
    padding: 10px 25px;
    border-radius: 13px;
    font-size: 15px;
    display: flex;
    position: center;
    margin: 0 auto;
    gap: 1rem;
    height: 7vh;
    width: 13.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "anton", sans-serif; 
    font-weight: 100;
    font-size: 23px;
    margin-top: 2rem;
}

.submit-btn {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4A11B;
    color: #895000;
    border: none;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    height: 5.5vh;
    width: 6vw;
    border-radius: 13px;
    transition: all 0.4s ease ;
    font-family: "anton", sans-serif; 
    font-weight: 100;
    font-size: 23px;
}
.cancel-btn {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E7EB;
    color: #3B4F66;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    height: 5.5vh;
    width: 6vw;
    border-radius: 13px;
    transition: all 0.4s ease ;
    font-family: "anton", sans-serif; 
    font-weight: 100;
    font-size: 23px;
}

.submit-btn:hover {
    opacity: 0.9;
}

.cancel-btn:hover {
    opacity: 0.9;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.2);
}
    /*Configuração do container de "Excluir"*/
    .excluir-container {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        backdrop-filter: blur(6px); 
    }
    .excluir-container {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        backdrop-filter: blur(6px); 
    }
    
    .form-box-excluir {
        background-image: url(../assets/cover5.png);
        color: #ffffff;
        width: 65%;
        max-width: 850px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .form-box-excluir h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    
    
    .form-excluir h3{
        text-align: center;
    
    }
    
    .form-excluir p{
        text-align: center;
    }
    
    .image-section-excluir {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;;
    }
    
    .image-section-excluir h4{
        padding-bottom: 0;
        margin: 13px;
        color: #ffffff;
    }
    
    .image-section-excluir img {
        width: 45%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        border: none;
    }
    
    .submit-btn {
        background-color: #A4161A;
        color: white;
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0px 5px;
        cursor: pointer;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        height: 5.5vh;
        width: 6vw;
        border-radius: 13px;
        transition: all 0.4s ease ;
        font-family: "anton", sans-serif; 
        font-weight: 100;
        font-size: 23px;
    }

    .comentario-excluir {
        text-align: center;
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif; 
        font-weight: 600;
        font-size: 20px;
    }
    
    .submit-btn-excluir:hover {
        opacity: 0.9;
    }
    
    .close-btn-excluir {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 28px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    
    .close-btn-excluir:hover {
        transform: scale(1.2);
    }

    .pagination {
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 12%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.pagination-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.17rem;
}

.pagination-button button{
    
    background-color: transparent;
    border: 0.13rem solid white;
    border-radius: 0.5rem;
    width: 2.18rem;
    height: 2.18rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    display:inline-block;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.3rem;
}

.pagination-button button:hover {
    background-color: white;
    color: #061326;
    transition: 0.2s;
}


.pagination-button-left {
    color: white;
}
.pagination-button-left {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    rotate: 180deg;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-right: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-left:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

.pagination-button-right ion-icon {
    color: white;
}
.pagination-button-right {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-left: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-right:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

    
    
@media (max-width: 800px) {
    .form-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 80vh;
        overflow-y: auto;
    }
    .head{
        font-size: medium;
    }
}

@media (max-width: 1024px) {
    .image-btn {
        font-size: 12px;
    }
    .submit-btn, .cancel-btn {
        font-size: 18px;
    }
    .container-all{
       width: 60%;
    }
}

@media (max-width: 600px) {
    .form-box{
       font-size: 12px;
    }
    .image-btn {
        font-size: 8px;
    }
}