body {
    margin: 0;
    padding: 0;
    display: flex;
    background-repeat: no-repeat;           
    background-size: cover;                  
    background-position: center;            
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;            
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;        
}

/*Configuração do container de "Criar"*/
.modal-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/*Configuração do container de "Editar"*/
.editar-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px); 
}

/*Configuração do container de "Visualizar"*/
.ver-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(6px); 
}


/*Fim das configurações dos containers*/

.container-all{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 70vw;
    position: absolute;
}

.form-box {
    background: #ffffff;
    padding: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.form-box h2 {
    grid-column: span 2;
    font-size: 24px;
    margin-bottom: 10px;
}

.head{
    background-image: url("./../assets/cover5.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    padding-left: 2%;
    font-size: larger;
}

.header-box{
    grid-column: span 2;
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #141414;
    outline: none;
}

textarea {
    height: 250px;
    resize: none;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px; ;
}

.image-section img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.image-btn {
    background-color: #606188;
    color: white;
    border: none;
    padding: 5px 15px;
    margin-top: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.image-btn:hover {
    opacity: 0.9;
}



.save-cancel-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    position: center;
    margin: 0 auto;

    gap: 2%;

}
.submit-btn {
    grid-column: span 2;
    background-color: #cacaca;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;

    transition: all 0.4s ease ;
}
.cancel-btn {
    grid-column: span 2;
    background-color: #515151;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;

    transition: all 0.4s ease ;
}

.submit-btn:hover {
    opacity: 0.9;
}

.cancel-btn:hover {
    opacity: 0.9;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.2);
}
    /*Configuração do container de "Excluir"*/
    .excluir-container {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        backdrop-filter: blur(6px); 
    }
    .excluir-container {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        backdrop-filter: blur(6px); 
    }
    
    .form-box-excluir {
        background: #ffffff;
        width: 65%;
        max-width: 850px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .form-box-excluir h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    
    
    .form-excluir h3{
        text-align: center;
    
    }
    
    .form-excluir p{
        text-align: center;
    }
    
    .image-section-excluir {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;;
    }
    
    .image-section-excluir h4{
        padding-bottom: 0;
        margin: 13px;
        color: #6b2b1d;
    }
    
    .image-section-excluir img {
        width: 45%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        border: none;
    }
    
    .submit-btn-excluir {
        background-color: #6b2b1d;
        color: white;
        border: none;
        padding: 10px 25px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 15px;
        display: block;
        margin: 0 auto;
    }
    
    .submit-btn-excluir:hover {
        opacity: 0.9;
    }
    
    .close-btn-excluir {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 28px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    
    .close-btn-excluir:hover {
        transform: scale(1.2);
    }
