
body {
   

    
 
    display: flex;
    flex-direction: column-reverse;
    
    font-family: "Anton", sans-serif;
    background-color: #1B2A41;
    font-weight: lighter;

    background-image: url(./backgroundFade.jpg);
    background-size: cover;
    
   
}


footer {
    padding: 2em;
    

    font-family: "Anton", sans-serif;
    background-color: #6B231E;
    color: #FAFAFA;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

.conteiner{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
  
}

.motivacao span h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}






.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #FAFAFA;

}


#txt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#redes {
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#redes i {
    color: #FAFAFA;
}

.motivacao h5{
    margin: 3em;
    transition: transform .3s ease-in-out;
   
}

.motivacao h5:hover{
    transform: scale(1.5);
   
}


.footerLogo p{
  
    padding: 0;
    margin: 0 auto;


}


.footerLogo img{
  
    width: 20vw;   
    height: 20vh;
    object-fit: cover;
    object-position: center;



}

#fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}



#fadeLogo.ativo,
#texto-missao.ativo,
#texto-visao.ativo,     
#texto-valores.ativo {
  opacity: 1;
  visibility: visible;
  position: absolute;
}



.footerLogo{
    position: relative;
}

.footerLogo:hover{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}


#redes i{
    font-size: 2em;


}

#redes :hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}




@media only screen and (max-width: 768px) {
    body {
       
        flex-direction: column; 
    }

    .conteiner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0.3em;
        padding: 1em;
        text-align: center;
    }

    .footerLogo img {
        width: 0.5em;
        height: 0.5em;
        margin-bottom: 1em;
    }

    .motivacao {
        gap: 0.5rem;
    }

    .motivacao h5 {
        font-size: 1em;
    }

    .contatos {
        gap: 1em;
        font-size: 0.9em;
    }

    #redes {
        flex-wrap: wrap;
        gap: 0.1em;
    }

    #redes i {
        font-size: 1.5em;
    }

    footer {
        position: relative;
        text-align: center;
        padding: 1.5em 0;
    }
}    