
body {
   

    
 
    display: flex;
    flex-direction: column-reverse;
    
    font-family: "Anton", sans-serif;
    background-color: #1B2A41;
    font-weight: lighter;

    background-image: url(./backgroundFade.jpg);
    background-size: cover;
    
   
}


footer {
    padding: 2em;
    

    font-family: "Anton", sans-serif;
    background-color: #6B231E;
    color: #FAFAFA;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

  

}

.conteiner{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
      font-weight: lighter;
  
}




.motivacao span h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

}






.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #FAFAFA;

}


#txt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#redes {
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#redes i {
    color: #FAFAFA;
}

.motivacao h5{
    margin: 3em;
    transition: transform .3s ease-in-out;
   
}

.motivacao h5:hover{
    transform: scale(1.5);
   
}


.footerLogo p{
  
    padding: 0;
    margin: 0 auto;
    


}


.footerLogo img{
  
    width: 20vw;   
    height: 20vh;
    object-fit: cover;
    object-position: center;



}

#fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  



}



#fadeLogo.ativo,
#texto-missao.ativo,
#texto-visao.ativo,     
#texto-valores.ativo {
  opacity: 1;
  visibility: visible;
  position: absolute;
}



.footerLogo{
    position: relative;
}

.footerLogo:hover{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}


#redes i{
    font-size: 2em;


}

#redes :hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}



@media only screen and (max-width: 374px) {
  body {
    flex-direction: column;
    background-attachment: scroll;
  }

  .conteiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
  }

  .footerLogo img {
    width: 50vw;
    height: auto;
    margin-bottom: 1rem;
  }

  .motivacao h5 {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .contatos {
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  #redes {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  #redes i {
    font-size: 1.3rem;
  }

  footer {
    position: relative;
    text-align: center;
    padding: 1.2em 0;
  }
}




@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    
    flex-direction: column;
    background-attachment: scroll;
  }

  .conteiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 1.5em;
    text-align: center;
    gap: 1.5em;
  }

  .footerLogo img {
    width: 40vw;
    height: auto;
    margin-bottom: 1em;
  }

  .motivacao h5 {
    font-size: 1rem;
    margin: 1.2em 0;
  }

  .contatos {
    gap: 1em;
    font-size: 0.9rem;
  }

  #redes {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6em;
  }

  #redes i {
    font-size: 1.6em;
  }

  footer {
    position: relative;
    text-align: center;
    padding: 1.5em 0;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .conteiner {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    padding: 2em;
    gap: 2em;
  }

  .footerLogo img {
    width: 25vw;
    height: auto;
  }

  .motivacao h5 {
    font-size: 1.1rem;
  }

  .contatos {
    gap: 1.5em;
    font-size: 1rem;
  }

  #redes i {
    font-size: 1.8em;
  }

  footer {
    padding: 2em 0;
  }
}