

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #011650;
}

.footer {
  font-family: "Anton", sans-serif;
  background-color: #6B231E;
  color: #FAFAFA;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 22vh;
  display: flex;
  align-items: center;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
}

.motivacao h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: transform .3s ease-in-out;
}

.motivacao h5:hover {
  transform: scale(1.2);
}

/* ---------- CONTATOS ---------- */

.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  color: #FAFAFA;

  h3,h4{
    font-weight: lighter;
  }
}

#txt {
  font-family: system-ui, sans-serif;
  width: 25vw;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

/* ---------- LOGO e TEXTOS ---------- */

.footerLogo {

 
  position: relative;
  display: inline-block;
  transition: transform .3s ease-in-out;
}



.footerLogo:hover {
  transform: scale(1.05);
}

.footerLogo img {
  width: 18vw;
  height: 25vh;
  object-fit: contain;
  content: url(../assets/Imagens/FadeClub-logo2.png);
}

/* textos fade */
#fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease;
  text-align: center;
}

.ativo {
  opacity: 1 !important;
  visibility: visible !important;
}

/* redes sociais */

#redes {
  display: flex;
  gap: .5rem;
}

#redes i {
  font-size: 1.8em;
  color: #FAFAFA;
  transition: transform .3s ease;
}

#redes i:hover {
  transform: scale(1.1);
}



/* ---------- RESPONSIVIDADE ---------- */

/* 1440px */
@media (max-width: 1440px) {
 
  .motivacao{

    justify-content: space-between;
    gap: 16px;
    padding-right: 6rem;
    
  }

  #txt {
    width: 35vw;
    font-size: 1rem;
  }



.footerLogo img,#fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores{
   height: auto;
   width: 80%;
  object-fit: contain;
  padding-right: 6rem;
  
}

.ativo {
  opacity: 1 !important;
  visibility: visible !important;
  
}

}

/* 768px */
@media (max-width: 769px) { 



  .footer {
    height: 28vh;
    
  }

  .motivacao h5{
    font-size: 1rem;
    font-weight: lighter;
  }
  
  .contatos h3,h4{
    font-weight: lighter;
  }

  .footerLogo img{
     clip-path: inset(20px 0px 40px 0px);
  }




}

/* 480px */
@media (max-width: 480px) {

  .footer {
    height: 30vh;
    padding: .5rem;
  }

  .conteiner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
  }

  .motivacao span{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    padding-left: 5rem;
    
  }

  .motivacao h5 {
    font-size: .7rem;
    display: flex;
    flex-direction:row;
    
  }

  .footerLogo {
    width: 50vw;

  
  }



 #fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores{
 
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
    padding-left: 5rem;
    


   }
   



  
.ativo {
  opacity: 1 !important;
  visibility: visible !important; 

}



  #txt {
    width: 80vw;
    font-size: .7rem;
  }

  .contatos {
  
    font-size: .6rem;
    gap: .3rem;
    padding-right: 1rem;

  }

  #redes i {
    font-size: 1.8em;
  }

}
