
body {
   

   margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #011650;
    
   
}




.footer {
    
    font-family: "Anton", sans-serif;
    background-color: #6B231E;
    color: #FAFAFA;
    position: fixed;
    bottom: 0;
  
    width: 100vw;
    height: 30vh;

  

}

.conteiner{
 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;  
    align-items: center;
    width: 100vw;

    font-weight: lighter;
  
}


.motivacao{

    color: #FAFAFA;

}

.motivacao span h5{

     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;

}






.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #FAFAFA;

    font-size: 1rem;
    

}


#txt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    width: 30vh;
    font-size: 1.5rem;

  }

#redes {
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#redes i {
    color: #FAFAFA;
}

.motivacao h5{
    margin: 3em;
    transition: transform .3s ease-in-out;
   
}

.motivacao h5:hover{
    transform: scale(1.5);
   
}


#txt p{
  
    padding: 0;
    margin: 0;
    width: 100%;
    


}


.footerLogo img{
  
    width: 20vw;   
    height: 20vh;
    object-fit: cover;
    object-position: center;



}

#fadeLogo,
#texto-missao,
#texto-visao,
#texto-valores {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  



}



#fadeLogo.ativo,
#texto-missao.ativo,
#texto-visao.ativo,     
#texto-valores.ativo {
  opacity: 1;
  visibility: visible;
  position: absolute;
}



.footerLogo{
    position: relative;
}

.footerLogo:hover{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}


#redes i{
    font-size: 2em;


}

#redes :hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}


@media screen and (max-width: 1440px) {


    #txt {
        width: 30vw;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px) {

  .footer{
    height: 30vh;
  }

  .footerLogo{
    margin: 0;
    padding-right: 2em;
  }


  .footerLogo img{
  
    width: 40vw;   
    height: 15vh;
    object-fit: cover;
    object-position: center;
    padding: 0;

}
}

@media screen and (max-width: 480px) {

  .footer{
    height: 18vh;
    width: 100vw;
  }

  .conteiner{
    width: 95vw;
  }


  .motivacao span h5{

    font-size: 0.6rem;
  }

  .footerLogo img{
  
    width: 7rem;   
    height: 5rem;
    object-fit: cover;
    object-position: center;

}

  #txt {
        width: 30vw;
        font-size: 0.6rem;
    }

  .contatos{
    gap: 1rem;
    font-size: 0.6rem;  
  }

}

