
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     
}

.container{
     background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;

 
    

}



.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: 60%;
    padding-bottom: 1rem;
  


    background-color: rgba(255, 255, 255, 0.8);
      border-radius: 16px;

      
}


.title h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
    
}

.autor{
    padding-top: 1rem;
       border-top: 1px solid black;
       padding-right: 0.5rem;
       
}

.perfil {

    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 2rem;
    padding-top: 1rem ;
    
    

}

    .fotoPerfil img{
        border-radius: 512px;
        height: 5vh;
        width: 3vw;
      
    }

    .nomePerfil{
        font-family: 'Anton', sans-serif;
        font-size: 3rem;
        font-weight:normal;
        margin-left: 1rem;
    }



.conteudoPost{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);

        height:fit-content;
        width: fit-content; 

        gap: 2rem;
      
        margin: 0;

     h2{
          font-size:1.2rem;

     }
     
     
     h5{
        font-size:1.2rem;
     }
     
      
}

.conteudo{
    display: flex;
    flex-direction: column;
      padding: 2rem 2rem 0 2rem;
    

}





h2{
        
            text-align: justify;
            font-weight: lighter;
            font-size: 1.5rem;
        }


 .img_path{
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 0;

            
        }

.img_path img{
    height:100%;
    width:80%;
    margin: 0;


    border-radius: 16px;



}


.origin,.story,.tips,.products,.curiosity{
  
   
    margin:0 ;
    padding: 0;

    h5{
        margin: 0;
        font-size: 2rem;
    }

}

@media only screen and (max-width: 1024px){

    .post{
        width: 80%;
    }

    .origin,.story,.tips,.products,.curiosity{
        h5{
            font-size: 2rem;
        }

        h2{
            font-size: 1rem;
        }
    }

    .autor img{
        height: 2rem;
    }

    .autor span{
        font-size: small;
    }

    .img_path{
        height: auto;
        width: auto;
    }

    .img_path img{
        width: 100%;
        height: 100%;
    }

}

@media only screen and (max-width: 768px){

    .conteudoPost{
        display: flex;
        flex-direction: column;
    }

    .post h2{
        font-size: large;
    }

    .fotoPerfil img{
        width: 2rem;
    }

    .nomePerfil span{
        font-size: 1.5rem;
    }

    .img_path img{
        width: 80%;
    }

    .title h1{
        font-size: 2.5rem
    }

    

}


@media only screen and (max-width: 480px){


   
    .conteudo{

        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;

        img_path{
            height: 20vh;
            width: 20vh;
        }
    }


    .post{
        padding-top: 1rem;
            width: 90%;
     
    }

    .autor{
        width: 100%;
    }

   .origin,.story,.tips,.products,.curiosity{

            h5{
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }

    }

}

