
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     
}

.container{
     background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    

}


.cabecalho{
    display:inline;
   text-align: start;
    color: #fafafa;
    width: 80vw;

    

}


.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 80vw;

    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
      border-radius: 16px;
}


.titulo h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: semibold;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
    
}

.perfil {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


    span img{
        border-radius: 256px;
        height: 3rem;
        width: 3rem;
    }

    .nomePerfil{
        font-family: 'Arial', sans-serif;
        font-size: 1em;
        font-weight: semibold;
        margin-left: 1em;
    }


}


.conteudo{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-rows: auto;
        gap: 2em;
        padding: 2rem;
      
}



.foto img{
    height: 100%;
    width: 100%;

    border-radius: 16px;

}


.origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
  
   
    margin:0 ;
    padding: 0;

    h5{
        margin: 0;
        font-size: 1.2rem;
    }

    p{
        font-size: 1.3rem;
    }
}