
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     
}

.container{
     background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    

}


.cabecalho{
    display:inline;
   text-align: start;
    color: #fafafa;
    width: 80vw;

    

}


.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90%;
    width: 80vw;
  


    background-color: rgba(255, 255, 255, 0.8);
      border-radius: 16px;

      
}


.titulo h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
    
}

.perfil {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;


    span img{
        border-radius: 256px;
        height: 5rem;
        width: 5rem;
    }

    .nomePerfil{
        font-family: 'Arial', sans-serif;
        font-size: 2rem;
        font-weight:bold;
        margin-left: 1em;
    }


}


.conteudo{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);

        height:fit-content;
        width: fit-content; 

        gap: 2rem;
        padding: 2rem;


     
      
}



h2{
        
            text-align: justify;
            font-weight: lighter;
            font-size: 2rem;
        }


 .foto{
            justify-content: center;
            align-items: center;
            display: flex;
        }

.foto img{
    height: 80%;
    width: 100%;

    border-radius: 16px;



}


.origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
  
   
    margin:0 ;
    padding: 0;

    h5{
        margin: 0;
        font-size: 2rem;
    }

}


@media only screen and (max-width: 1025px){
    
    .foto img{
    height: 60%;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;


    border-radius: 16px;

}



h2{
    font-size: 1.5rem;
}


}


@media screen and (max-width: 900px){
    .post{
        width: 90vw;
    }
    
    .cabecalho{
        width: 90vw;
    }
    
}


@media only screen and (max-width: 768px){
    h2{
        font-size: 1.2rem;
    }


    .titulo h1{
        font-size: 2rem;
    }

    .origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
            h5{
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
        }


}
}

@media only screen and (max-width: 480px){
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;
    }

    .origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{

            h5{
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }

    }

}

