
body {
    margin: 0;
    padding: 0;



      background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;

     
     
}

.container{

  
    display: flex;
    justify-content: center;
    align-items: center;
    



}





.post {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    font-family: "Anton", sans-serif;
    width: 100vw;
    max-height: 100vh;
    margin: 10rem;
    padding: 10px;



}



.top {

    color: #FAFAFA;
    display:flex;
    flex-direction: row;

   
    justify-content:space-evenly;
    gap: 15rem;
  
    

}

.fotoenome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}


.top img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: rotate(0deg);
    cursor:default;



}




.rotacionar {
    transform: rotate(90deg);
}


.top h3 {

    display: flex;
   ;
    
    
 
    font-size: 100%;
    font-weight:lighter;
    color: #FAFAFA;
    
}



.top h1{
     font-weight:lighter;
     margin-top: 10px;
}

.down {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;


    width: 80vw;
    height: 70vh;
    max-height: 100vh;
 
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 16px;





}

.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:max-content;
    width: auto;
    gap: 1em;
        

   
   

}

.left img {
    width: 37vw;
    height: auto 50vh;
    border-radius: 16px;
}


#left {



    text-align: center;
    color: #FAFAFA;
    font-size: 20px;
    display: flex;
    justify-content: center;




    border-radius: 16px;

    width: auto;
    height: auto;


}

.right {


    display: flex;
    flex-direction: column;
    justify-content: center;
  




    color: #FAFAFA;
    font-size: 20px;
    border-radius: 16px;
  
    padding: 1rem;

    margin: 5px;
   

    width: 100vw;
    max-height: 100%;

}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      gap: 0.8em;
}



.right span {


    display: flex;
 
    justify-content: space-between;
    margin: 10px;
    font-family: "Anton", sans-serif;



    color: black;
   
     border-bottom: 1px  solid black;
 


}


span img {
    width: 25px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;            
    transform: rotate(270deg)
}



.item img:hover {
    transition: transform 0.3;
}




.texto{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 0.7em;
    font-family: "Montserrat",sans-serif;
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    padding-right:10px;
    border-radius: 8px;
    transition: all 0.5s ease;
    font-weight:600;


}

.texto.visivel{
    opacity: 1;
    max-height: 200px;
    padding: 8px;
}









@media only screen and  (max-width: 780px) {





    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        max-height: 100vh;  
 
    

    }

    .post{

        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }


    .top{
        display: flex;
        flex-direction:row;
        justify-content: center;
   

    

    }

    .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    

   
        width: 50vw;
        height: 100vh;
    

    }

   

    .left img {
        width: 10rem;
        height: 10rem;
    }

    .right {
        width: 50%;
        height: 55%;
        
        
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        padding: 1rem;

    

    }

    .top h3 {
        font-size: 1rem;
        margin-top: 5px;
    }

    .top h1 {
        font-size: 1rem;
    }   

    .post {
     
        width: 90vw;
        height: 90vh;
      

    }

    
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        padding: 1rem;  
        
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

}


 