body {

    font: 16px sans-serif;
    margin: 10px;
    padding: 10px;
    display: inline;
    justify-content: center;
    align-items: center;






    background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;


    width: 100rem;
    height: 100rem;


 

}





.post {

    display: flex;
    flex-direction: column;

    justify-content: center;
    font-family: "Anton", sans-serif;



    width: auto;
    height: fit-content;


    padding: 50px;
    margin: 100px;



}



#top {

    color: #FAFAFA;
    justify-content: space-between;
    display:flex;


        
   
  

}


#top img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: rotate(0deg);
    cursor:default;



}




.rotacionar {
    transform: rotate(90deg);
}


#top h3 {

    display:inline-block;
    margin-right: 72em;
    
    
 
    font-size: 100%;
    font-weight:lighter;
    color: #FAFAFA;
    
}



#top h1{
     font-weight:lighter;
     margin-top: 10px;
}

#down {

    display: flex;
    flex-direction: row;
      align-items: center;
    justify-content: center;
    padding-left: 10px;


    width: auto;
    max-height: 100vh;
    gap: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 16px;





}

#left img {
    width: 37vw;
    height: auto 50vh;
    border-radius: 16px;
}


#left {



    text-align: center;
    color: #FAFAFA;
    font-size: 20px;
    display: flex;
    justify-content: center;




    border-radius: 16px;

    width: auto;
    height: auto;


}

.right {


    display: flex;
    flex-direction: column;
    justify-content: center;
  




    color: #FAFAFA;
    font-size: 20px;
    border-radius: 16px;
  
    padding: 5rem;

    margin: 10px;
   

    width: 100vw;
    max-height: 100%;

}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      gap: 0.8em;
}



.right span {


    display: flex;
 
    justify-content: space-between;
    margin: 10px;
    font-family: "Anton", sans-serif;



    background-color: #FAFAFA;
    color: black;
   
     border-bottom: 1px  solid black;
 


}


span img {
    width: 25px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;            
    transform: rotate(270deg)
}



.item img:hover {
    transition: transform 0.3;
}




.texto{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 0.7em;
    font-family: "Montserrat",sans-serif;
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    padding-right:10px;
    border-radius: 8px;
    transition: all 0.5s ease;
    font-weight:600;


}

.texto.visivel{
    opacity: 1;
    max-height: 200px;
    padding: 8px;
}






@media only screen and (max-width: 768px) {

    #down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
   
        width: 50vw;
        height: 90vh;
    

    }

   

    #left img {
        width: 10rem;
        height: 10rem;
    }

    #right {
        width: 50%;
        height: 55%;
    }

    #top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25vw;
        padding: 1rem;

    

    }

    #top h3 {
        font-size: 1rem;
        margin-top: 5px;
    }

    #top h1 {
        font-size: 1rem;
    }   

    #post {
     
        width: 90vw;
        height: 90vh;
      

    }

    
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        padding: 1rem;  
        
    }

}






    

