
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     
}

.container{
     background-image: url('../assets/backgrounds/backgroundFade.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 4rem;

 
    

}



.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: 50vw;
    padding-bottom: 1rem;
  


    background-color: rgba(255, 255, 255, 0.8);
      border-radius: 16px;

      
}


.titulo h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-top: 2rem;
    
}

.perfil {

    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 2rem;

}

    .fotoPerfil img{
        border-radius: 512px;
        height: 4vh;
        width: 3vw;
    }

    .nomePerfil{
        font-family: 'Anton', sans-serif;
        font-size: 1rem;
        font-weight:lighter;
        margin-left: 1rem;
    }





.conteudoPost{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);

        height:fit-content;
        width: fit-content; 

        gap: 2rem;
      
        margin: 0;

     h2,h5{
        font-size:1rem;
     }
     
      
}

.conteudo{
    display: flex;
    flex-direction: column;
      padding: 2rem;
    

}





h2{
        
            text-align: justify;
            font-weight: lighter;
            font-size: 1.5rem;
        }


 .foto{
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 0;
        }

.foto img{
    height:auto;
    width:50% ;

    border-radius: 16px;



}


.origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
  
   
    margin:0 ;
    padding: 0;

    h5{
        margin: 0;
        font-size: 2rem;
    }

}


@media only screen and (max-width: 1440px){
    
    .foto img{
    height: 60%;
    width:fit-content;


    border-radius: 16px;

}

.conteudoPost{
    
    height: fit-content;
    width: fit-content;
   gap: 0;

}

.perfil{

    display: flex;
    flex-direction: row-reverse;

    
        width:50%;
        height: auto;

       
        
    
}



.origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
  
   
    margin:0 ;
    padding: 0;
    width: 50%;

    h5{
        margin: 0;
        font-size: 1.5rem;
    }

}



h2{
    font-size: 1.1rem;
}


}


@media screen and (max-width: 1025px){
    .post{
        width: 90vw;
    }
    
    .cabecalho{
        width: 90vw;
    }
    
}


@media screen and (max-width: 900px){
    .post{
        width: 90vw;
    }
    
    .cabecalho{
        width: 90vw;
    }
    
    .post{
        padding-bottom: 10rem;
        padding-top: 10rem;
    }
    h2{
        font-size: 1rem;
    }
   

}


@media only screen and (max-width: 768px){
    h2{
        font-size: 1.2rem;
    }


    .titulo h1{
        font-size: 2rem;
    }

    .origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{
            h5{
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
        }


}
}

@media only screen and (max-width: 480px){
    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        padding: 1rem;

        img{
            height: 40vh;
            width: 40vh;
        }
    }


    .post{
        padding-top: 30rem;
        padding-bottom: 30rem;
    }

    .origem,.historia,.dicasDoBarbeiro,.produtosRecomendados,.curiosidades{

            h5{
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }

    }

}

