/*! Reset do CSS ------------------------------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*!--------------------------------------------------------------------------------------- */

/*! Dimensionamento do header + adicionando background ----------------------------------- */
header {
    height: 93vh;
    width: 100%;

    background-image: url(../../public/assets/Covers/cover1.png);

    nav{
        height: 10vh;
        background-color: #1B2A41;
    }
    section {
        height: 83vh;
    }
}
.cover{
    background-size: cover;
    background-position: center;
}
/*!--------------------------------------------------------------------------------------- */

/*! Organização da Hero Section ---------------------------------------------------------- */
.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    img{
        /*pra garantir que não fure:*/
        max-width: 100%; 
        max-height: 100%;

        width: 34rem;
        height: 32rem;
    }
    .slogan{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FFFFFF;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-size: 50px;
        p {
        text-shadow: 0 0 40px rgb(0, 0, 0) ;
        }
    }
}
/*! Hovers da Hero Section --------------------------------------------------------------- */
.heroSection{
    img{
        transition: transform 0.4s ease-in-out;
        transition-timing-function: ease-in-out;
    }
    .slogan{
        transition: transform 0.4s ease-in-out;
        transition-timing-function: ease-in-out;
    }
    img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .slogan:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
/*! Dimensionando a main + adicionando backgorund ---------------------------------------- */
main{
    height: 100vh;
    width: 100%;

    background-image: url(../Assets/Backgrounds/cover2.jpeg);

    position: relative;
}
/*! Criando estilo das divisórias de carrossel ------------------------------------------ */
.genero{
    color: #EDDFB2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;

    background-color: #6B231E;
    width: 13rem; 
    height: 3rem;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*! Ajustando a posição das divisórias do carrossel ------------------------------------- */
.destaques{
    position: absolute;
    top: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.ultimasPublicacoes{
    position: absolute;
    top: 47.58vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
/*! Adiciona um footer referencial ------------------------------------------------------ */
footer {
    background-color: #6B231E;
    height: 30vh;
}
/*! Ajusta dimensão do container dos carrosseis ----------------------------------------- */
.carrossel-container{
    height: 50vh;
    width: 100%;
}
/*! Organiza a disposição de conteúdos internos dos carrosseis -------------------------- */
/*disposição dos itens nos carrosseis*/
.carrossel-container{
    display: flex;
    align-items: center;

    overflow: hidden;
    position: relative;
}
/*disposição dos cards nos carrosseis*/
.conteudo01, .conteudo02{
    display: flex;
    height: 30rem;
    align-items: center;
    padding-left: 2.7rem;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/*! Estiliza os conteúdos dos carrosseis de forma geral --------------------------------- */
.card{
    height: 33vh;
    width: 30vw;
    border-radius: 30px;
    display: flex;
    transition: transform 0.3s;
    flex-shrink: 0;
    margin-right: 2.7rem;
    /*remover depois*/
    color:#FFFFFF;
}
.nav-arrow{
    /*Estilo*/
    background-color: #E6E7EB;
    color: #3B4F66;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.829);
    /*Dimensões*/
    height: 5vh;
    width: 3vw;
    flex-shrink: 0; /*necessário pra adiquitir a kargura certa*/
    border-radius: 50%;
    /*Posicionando o icone*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Dimensionando o icone*/
    font-size: 30px;
    font-weight: 800;  
    /*posicionando*/
    position: absolute; 
    z-index: 10;
}
/*! Posiciona cada nav-arrow ------------------------------------------------------------ */
.arrow-left1, .arrow-left2 {
    transition: transform 0.4s ease-in-out;
    transition-timing-function: ease-in-out;
    left: 1%;
}
.arrow-right1, .arrow-right2 {
    transition: transform 0.4s ease-in-out;
    transition-timing-function: ease-in-out;
    right: 1%;
}
/*! Hover dos nav-arrows ---------------------------------------------------------------- */
.arrow-left1:hover , .arrow-left2:hover , .arrow-right1:hover , .arrow-right2:hover {
    transform: scale(1.2);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.623);
}
/*! Estilo geral dos cards -------------------------------------------------------------- */
.card{
    overflow: hidden;
    .imagem{
        height: 35vh;
        width: 15vw;
    }
    .informacoes{
        height: 35vh;
        width: 15vw;
        background-color: #c9c9c9;
        font-family: "Montserrat", sans-serif;
        color: rgb(0, 0, 0);
        .texto{
            height: 80%;
        }
        .especiais{
            height: 16%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .tag{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Anton", sans-serif;
            font-size: 18px;
            color: #EDDFB2;
            height: 2.5rem;
            width: 6.5rem;
            border-radius: 10px;
            p {
                font-weight: lighter;
            }
        }
        .verMais{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: #E4A11B;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 1.3rem;
                width: 1.3rem;
            }
        }
    }
}
/*! Ajustando o texto dos cards --------------------------------------------------------- */
.card {
    font-weight: 600;
    .informacoes{
        padding: 3%;
        h1, .legenda, .autor {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        }
        .caixaLegenda{
            height: 80%;
        }
        .legenda{
            padding-top: 2%;
            -webkit-line-clamp: 6;
        }
        h1{
            font-size: 20px;
            font-weight: 700;
        }
    }
}
/*! Ajustando tags dos cards ------------------------------------------------------------ */
.tag01 , .tag09 , .tag10{
    background-color: #116797;
}
.tag02 , .tag07 , .tag11{
    background-color: #2C8E23;
}
.tag03 , .tag05 , .tag06{
    background-color: #8B26C5;
}
.tag04 , .tag08 , .tag12{
    background-color: #A4161A;
}
/*! Hover dos cards ---------------------------------------------------------------------- */
.card{
    transition: transform 0.5s ease-in-out;
    transition-timing-function: ease-in-out;
}
.card:hover {
    transform: scale(1.1);
    .informacoes{
        background-color: rgb(255, 255, 255);
    }
    .verMais:hover{
        background-color: #fdba34;
    }
}

