
/* ! Reset do CSS ------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! -------------------------------------------------------- */

/* ! BackGround --------------------------------------------- */
.background1 {
    /* lida com a imagem */
    background-image: url(../assets/cover4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* lida com as dimensões */
    width: 100%;
    height: 73vh;
}

.background2 {
    /*lida com a imagem */
    /*
    background-image: url(../assets/cover2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
    background-color: #111d2b;
    /* lida com as dimensões */
    height: 100vh;
}
/* ! -------------------------------------------------------- */


/* ! -- Header ---------------------------------------------- */
/* ? -- Navbar ---------------------------------------------- */
.navbar {
    /* dimensões da caixa */
    height: 8vh;
    padding: 0 4vh 0 4vh;
    /* alinhamento dos elementos internos */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* * -- Elementos ------------------------------------------- */

.letreiro {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: left;
    align-items: center;
    img {
        height: 6vh;
    }
}

.secoes {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    border-radius: 18px; 
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    /* estilo da caixa */
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /* estilo dos elementos internos */
    color: #E5E5E5;

    .secao {
    /*disposição do texto em sua caixa*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensões da caixa do texto */
    width: 7rem;
    /* estilo do texto */
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 20px;
    }
}


.botoes {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: right;
    align-items: center;
    /* entre botões */
    gap: 15px;
}

/* * -- Elementos de botoes ---- */

.search {
    /* dimensões da caixa */
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /* estilo */
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /* dimensionar imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    /* dimensionar imagem */
    width: 1.8rem;
    height: 1.8rem;
}

.login {
    /* dimensões da caixa */
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /* estilo */
    background-color: #838383;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /* dimensionar imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    /* dimensionar imagem */
    width: 2rem;
    height: 2rem;
}

/* * -------------------------- */
/* * -------------------------------------------------------- */
/* ? -------------------------------------------------------- */

/* ? -- Hero Section ---------------------------------------- */

.heroSection {
    /* dimensionamento da hero section */
    height: 73vh;
    /* arrumando onde está a logo */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

/* * -- Elementos ------------------------------------------- */

.heroSection img {
    /* dimensionamento da imagem */
    width: 470px;
    height: 470px;
}

.slogan {
    /* posicionando os elementos */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* posicionando o slogan em relação a logo */
    padding-top: 0.5rem;
    /* estilo do texto */
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 40px;
    p {
        text-shadow: 0 0 40px rgb(0, 0, 0) ;
    }
}

/* * -------------------------------------------------------- */
/* ? -------------------------------------------------------- */
/* ! -------------------------------------------------------- */

/* ! -- Main ------------------------------------------------ */

main {
    /*border: 4px solid rgb(25, 185, 52);*/
    /* dimensionando a main*/
    height: 100vh;
    /* estilo dos filhos */
    color: white;
    /* auxilio para posicionar caixas de gênero */
    position: relative;
}


/* * -- Títulos --------------------------------------------- */

.genero {
    /* dimensões da caixa*/
    width: 13rem; 
    height: 3rem;
    /* estilo da caixa */
    background-color: #6B231E;
    border-radius: 5px;
    /* altera estilo do texto */
    color: #EDDFB2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* posição do texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

#destaques {
    /*posicionamento da caixa*/
    position: absolute;
    top: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
}

#ultimasPublicacoes {
    /*posicionamento da caixa*/
    position: absolute;
    top: 47.58vh;
    left: 50%;
    transform: translateX(-50%);
}


/* * -------------------------------------------------------- */

/* * -- Cards ----------------------------------------------- */

.carrosseis {   
    /* tamanho da caixa pai de todos os cards*/
    height: 100%;
    width: 100%;
    /* disposição dos elementos */
    display: flex;
    flex-direction: column;
}

.cardsDestaques {
    /* tamanho da caixa pai dos cards de destaque */
    height: 50%;
    /* disposição dos elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.cardsUltimasPublicacoes {
    /* tamanho da caixa pai dos cards de ulimas publicaçõe */
    height: 50%;
    /* disposição dos elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards {
    /* dimensões dos cards */
    height: 38vh;
    width: 35rem;
    border-radius: 40px;
    /* estilo */
    background-color: #E5E5E5;
    /* pra deixar furar o flex*/
    flex-shrink: 0;
}


/* * -------------------------------------------------------- */
/* ! -------------------------------------------------------- */

/* ! -- Footer ---------------------------------------------- */

footer {
    background-color: #6B231E;
    height: 20vh;
}

/* ! -------------------------------------------------------- */