* {
    margin: 0;
    padding: 0;
}

#cover {
    background-image: url(../assets/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 75vh;
}
