/* ! Zerando o CSS --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! ----------------------------------------------------------- */

/* ? CSS da parte 01  ------------------------------------------ */

/* BACKGROUND -------------------------------------------------- */
.parte01 {
    /* adiciona imagem de fundo e configura sua disposição: */
    background-image: url(../assets/cover1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* Dimensiona imagem : -------------------------------- */
    height: 80vh;
    width: 100%;
}

/* NAVBAR -------------------------------------------------------*/
.navbar {
    border: 1px solid greenyellow; /*referência visual*/
    /* dimensionamento da navbar */
    height: 10vh;
    width: 100%;
}

/* HERO SECTION ------------------------------------------------ */

/* GERAL */

.heroSection {
    border: 1px solid orangered;
    /* dimensionamento da hero section */
    height: 70vh;
    /* arrumando onde está a logo */
    padding-top: 3rem;
    display: flex;
    justify-content: center
}

/* IMAGEM */

.heroSection img {
    width: 500px;
    height: 500px;
}

/* ? ----------------------------------------------------------- */

/* todo: CSS da parte 02  -------------------------------------- */

/* BACKGROUND -------------------------------------------------- */
.parte02 {
    /* adiciona imagem de fundo e configura sua disposição: */
    background-image: url(../assets/cover2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center; /*centraliza imagem*/
    /* Dimensiona imagem */
    height: 100vh;
    width: 100%;
}

/* todo: -------------------------------------------------------- */

/* *  Footer ---------------------------------------------------- */

footer {
    background-color: #6B231E;
    height: 20vh;
}

/* * ------------------------------------------------------------ */