/* ! Zerando o CSS --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! ----------------------------------------------------------- */

/* ? CSS da parte 01  ------------------------------------------ */



/* ? ----------------------------------------------------------- */

/* todo: CSS da parte 02  -------------------------------------- */



/* todo: -------------------------------------------------------- */



