/* ! Reset do CSS ----------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ! Covers ----------------------------------------------------------------------------------------------------------- */
.cover1 {
    /*Definindo a imagem*/
    background-image: url(../assets/Covers/cover1.png);
    background-size: cover;
    background-position: center;
    /*Dimensionando a imagem*/
    width: 100%;
    height: 93vh;
}
.cover2 {
    /*Definindo a imagem*/
    background-image: url(../assets/Covers/cover2.jpeg);
    background-size: cover;
    background-position: center;
    /*Dimensionando imagem*/
    width: 100%;
    height: 100vh;
}
/* ! Auxiliares ------------------------------------------------------------------------------------------------------- */
/* * Navbar ----------------------------------------------- */
nav {
    /*Dimensionando a caixa*/
    height: 10vh;
    /*Alinhando elementos internos*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vh 0 4vh;
}
.letreiro {
    /*Dimensionando a caixa*/
    width: 22vw;
    height: 6vh;
    /*Alinhando dos elementos internos*/
    display: flex;
    justify-content: left;
    align-items: center;

    img {
        /*Dimensionando imagem*/
        height: 6vh;
    }
}
.secoes {
    /*Dimensionando a caixa*/
    width: 22vw;
    height: 6.5vh;
    border-radius: 18px; 
    /*Alinhando os elementos internos*/
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    /*Estilizando a caixa*/
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /*Estilizando elementos internos*/
    color: #E5E5E5;

    .secao {
    /*Alinhando o texto da caixa*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Dimensionando a caixa do texto*/
    width: 7rem;
    /*Estilizando o texto*/
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 20px;
    }
}
.botoes {
    /*Dimensionando a caixa*/
    width: 22vw;
    height: 6vh;
    /*Alinhando elementos internos*/
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}
.search {
    /*Dimensionando a caixa do botão*/
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /*Estilizando a caixa*/
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /*Alinhando a imagem*/
    display: flex;
    justify-content: center;
    align-items: center;

    img {
    /*Dimensionando a imagem*/
    width: 1.9rem;
    height: 1.9rem;       
    }
}
.login {
    /*Dimensionando a caixa do botão*/
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /*Estilizando a caixa do botão*/
    background-color: #838383;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    background: radial-gradient(circle at center, #A6A6A6 0%, #242424 100%);
    /*Alinhando a imagem */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        /*Dimensionando imagem*/
        width: 1.5rem;
        height: 1.5rem;
    }
}
/* * ------------------------------------------------------ */
/* * Footer ----------------------------------------------- */
footer {
    background-color: #6B231E;
    height: 30vh;
}
/* * ------------------------------------------------------ */
/* ! Hero Section ----------------------------------------------------------------------------------------------------- */
.heroSection {
    /*Dimensionando a caixa*/
    height: 72vh;
    /*Alinhando imagem*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    gap: 60px;

    img {
        /*Dimensionando a imagem*/
        width: 34rem;
        height: 32rem;
    }
}
.slogan {
    /*Posicionando o texto*/
    display: flex;
    align-items: center;
    flex-direction: column;
    /*Estilizando o texto*/
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 50px;
    p {
        text-shadow: 0 0 40px rgb(0, 0, 0) ;
    }
}
/* ! Divisao de carrosseis -------------------------------------------------------------------------------------------- */
main {
    /*Dimensioanndo caixa*/
    height: 100vh;
    /*Base para divisões de carrossel*/
    position: relative;
}
.genero {
    /*Dimensionando caixa*/
    width: 13rem; 
    height: 3rem;
    /*Estilizando caixa*/
    background-color: #6B231E;
    border-radius: 5px;
    /*Estilizando texto*/
    color: #EDDFB2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    /*posicionando texto*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.destaques {
    /*Posicionando caixa*/
    position: absolute;
    top: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
}
.ultimasPublicacoes {
    /*Posicionando caixa*/
    position: absolute;
    top: 47.58vh;
    left: 50%;
    transform: translateX(-50%);
}
/* ! Carrosseis ------------------------------------------------------------------------------------------------------- */
.carrosseis {
    /*Dimensionando a caixa*/
    height: 100vh;
    width: 100%;
    /*Escondendo overflow*/
    overflow: hidden;
    /*Base para as setas*/
    position: relative;
}
.slider1 , .slider2 {
    /*Dimensionando caixa*/
    height: 50vh;
    /*Posicionando elementos*/
    display: flex;
    align-items: center;
}
.conteudo1 , .conteudo2 {
    /*Posicionando os cards*/
    display: flex;
    gap: 50px;
    margin-left: 2rem;
    margin-right: 2.8rem;
    /*Escondendo overflow*/
    overflow: hidden;
    /*Ajustando transição*/
    scroll-behavior: smooth;
}
.card{
    /*Dimensionando caixa*/
    height: 33vh;
    width: 30vw;
    flex-shrink: 0;
    border-radius: 30px;
}
.nav-arrow {
    /*Estilizando botão*/
    background-color: #E6E7EB;
    color: #3B4F66;
    cursor: pointer;
    /*Dimensionando caixa*/
    height: 5vh;
    width: 3vw;
    flex-shrink: 0;
    border-radius: 50%;
    /*Posicionando a caixa*/
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    z-index: 10;
    /*Posicionando o elemento*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Dimensionando o elemento*/
    font-size: 30px;
    font-weight: 800;

    transition: 0.3s;
}

.arrow-left1, .arrow-left2 {
    left: 1%;
}
.arrow-right1, .arrow-right2 {
    right: 1%;
}
.arrow-left2, .arrow-right2{
    top:75%
}

.arrow-left1:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    left: 0.7%;
}
.arrow-left2:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    left: 0.7%;
}
.arrow-right1:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    right: 0.7%;
}
.arrow-right2:hover{
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    right: 0.7%;
}
/* ! Cards ------------------------------------------------------------------------------------------------------------ */

.card {
    display: flex;
    overflow: hidden;
    .imagem{
        height: 35vh;
        width: 15vw;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .informacoes{
        height: 35vh;
        width: 15vw;
        background-color: #FFFFFF;
        font-family: "Montserrat", sans-serif;

        .texto{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-top: 1rem;
            gap: 0.5rem;
            text-align: left;
        }
        h1 {
            font-size: 20px;
            font-weight: 700;
        }
        p{
            font-weight: 600;
        }
        .autor {
            padding-top: 5rem;
        }
        .especiais{
            border: 2px solid orangered;
            height: 7vh;
            display: flex;
            align-items: center;
        }
        .tag{
            background-color: #8B26C5;
        }
    }
}

.i01{
    background-image: url(../assets/Cards/card01.jpg);
}
























/* ! ------------------------------------------------------------------------------------------------------------------ */