
/* ! Reset do CSS ------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! -------------------------------------------------------- */

/* ! BackGround --------------------------------------------- */
.background1 {
    /* lida com a imagem */
    background-image: url(../assets/cover4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* lida com as dimensões */
    width: 100%;
    height: 73vh;
}

.background2 {
    /*lida com a imagem */
    /*
    background-image: url(../assets/cover2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    */
    background-color: #111d2b;
    /* lida com as dimensões */
    height: 100vh;
}
/* ! -------------------------------------------------------- */


/* ! -- Header ---------------------------------------------- */
/* ? -- Navbar ---------------------------------------------- */
.navbar {
    /* dimensões da caixa */
    height: 8vh;
    padding: 0 4vh 0 4vh;
    /* alinhamento dos elementos internos */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* * -- Elementos ------------------------------------------- */

.letreiro {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: left;
    align-items: center;
    img {
        height: 6vh;
    }
}

.secoes {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    border-radius: 18px; 
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    /* estilo da caixa */
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /* estilo dos elementos internos */
    color: #E5E5E5;

    .secao {
    /*disposição do texto em sua caixa*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensões da caixa do texto */
    width: 7rem;
    /* estilo do texto */
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 20px;
    }
}


.botoes {
    /* dimensões da caixa */
    width: 22vw;
    height: 6vh;
    /*alinhamento dos elementos internos */
    display: flex;
    justify-content: right;
    align-items: center;
    /* entre botões */
    gap: 15px;
}

/* * -- Elementos de botoes ---- */

.search {
    /* dimensões da caixa */
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /* estilo */
    background-color: #1B2A41;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    /* dimensionar imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search img {
    /* dimensionar imagem */
    width: 1.8rem;
    height: 1.8rem;
}

.login {
    /* dimensões da caixa */
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    /* estilo */
    background-color: #838383;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.692);
    background: radial-gradient(circle at center, #A6A6A6 0%, #242424 100%);
    /* dimensionar imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    /* dimensionar imagem */
    width: 2rem;
    height: 2rem;
}

/* * -------------------------- */
/* * -------------------------------------------------------- */
/* ? -------------------------------------------------------- */

/* ? -- Hero Section ---------------------------------------- */

.heroSection {
    /* dimensionamento da hero section */
    height: 73vh;
    /* arrumando onde está a logo */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

/* * -- Elementos ------------------------------------------- */

.heroSection img {
    /* dimensionamento da imagem */
    width: 23vw;
    height: 40vh;
}

.slogan {
    /* posicionando os elementos */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* posicionando o slogan em relação a logo */
    padding-top: 0.5rem;
    /* estilo do texto */
    color: #FFFFFF;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 40px;
    p {
        text-shadow: 0 0 40px rgb(0, 0, 0) ;
    }
}

/* * -------------------------------------------------------- */
/* ? -------------------------------------------------------- */
/* ! -------------------------------------------------------- */

/* ! -- Main ------------------------------------------------ */

main {
    /*border: 4px solid rgb(25, 185, 52);*/
    /* dimensionando a main*/
    height: 100vh;
    /* estilo dos filhos */
    color: white;
    /* auxilio para posicionar caixas de gênero */
    position: relative;
}


/* * -- Títulos --------------------------------------------- */

.genero {
    /* dimensões da caixa*/
    width: 13rem; 
    height: 3rem;
    /* estilo da caixa */
    background-color: #6B231E;
    border-radius: 5px;
    /* altera estilo do texto */
    color: #EDDFB2;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* posição do texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

#destaques {
    /*posicionamento da caixa*/
    position: absolute;
    top: -1.4rem;
    left: 50%;
    transform: translateX(-50%);
}

#ultimasPublicacoes {
    /*posicionamento da caixa*/
    position: absolute;
    top: 47.58vh;
    left: 50%;
    transform: translateX(-50%);
}


/* * -------------------------------------------------------- */

/* * -- Carroseis ----------------------------------------------- */

.carrosseis {
    /* Dimensionamento */
    height: 100vh;
    /* Escondendo overflow */
    /*overflow: hidden;*/
    position: relative;
}


.slider1 , .slider2 {
    /* dimensionamento */
    height: 50vh;
    width: 100%;
    /* posicionamento dos elementos em relação a seta*/
    display: flex;
    /* justifcy contewnt center */
    align-items: center;
}


.conteudo1 , .conteudo2 {
    /*posicionamento entre os cards */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /*escondendo overflow*/
    overflow: hidden;

    /*pro js*/
    scroll-behavior: smooth;
}



.card{
    background-color: #FFFFFF;
    height: 34vh;
    width: 27vw;
    flex-shrink: 0;
    border-radius: 30px;
}

.nav-arrow {
    /*estilos*/
    background-color: #E6E7EB;
    color: #3B4F66;
    cursor: pointer;
    /*dimensionamento da caixa */
    height: 5vh;
    width: 3vw;
    flex-shrink: 0;
    border-radius: 50%;
    /*posicionamento da caixa*/
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    z-index: 10;
    /* posicionamento do elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    /* dimensionamento do elemento */
    font-size: 30px;
    font-weight: 800;

    transition: 0.3s;
}

.arrow-left1 {
    left: 1%;
}

.arrow-left1:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    left: 0.7%;
}

.arrow-left2 {
    top: 75%;
    left: 1%;
}

.arrow-left2:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    left: 0.7%;
}

.arrow-right1 {
    right: 1%;
}

.arrow-right1:hover {
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    right: 0.7%;
}

.arrow-right2 {
    top: 75%;
    right: 1%;
}

.arrow-right2:hover{
    height: 6vh;
    width: 3.5vw;
    font-size: 40px;
    right: 0.7%;
}



/* * -------------------------------------------------------- */
/* ! -------------------------------------------------------- */

/* ! Estilo individual de cada card ------------------------- */

.card03 {
    display: flex;
    overflow: hidden;
    color: black;
    img{
        height: 110%;
        width: 45%;
    }
}

.conteudoCard {
    display: flex;
    flex-direction: column;
}

.textoCard {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 1rem;
    gap:1rem;

    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 500;
    h1{
        font-size: 18px;
    }
    .autor{
        padding-top: 5rem;
    }
}

.tagEBotao {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 0.5rem;
    gap: 5rem;
    
    height: 7.5vh;

    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 20px;

    .verMais{
        background-color: #E4A11B;
        display: flex;  
        align-items: center;
        justify-content: center;
        height: 4.9vh;
        width: 3vw;
        border-radius: 50%;
    }
    .verMais:hover {
        background-color: #fcb322;
        cursor: pointer;
    }
    img{
        height: 1.5vh;
    }
    .tag{
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #8B26C5;
        color: #EDDFB2;
        border-radius: 8px;
        height: 4vh;
        width: 6vw;
    }
}

/* ! -------------------------------------------------------- */


/* ! -- Footer ---------------------------------------------- */

footer {
    background-color: #6B231E;
    height: 20vh;
}

/* ! -------------------------------------------------------- */