* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../assets/fundo-madeira-brilho-medio.png") no-repeat center center fixed;
    background-size: cover;
}

body *{
    font-family: "Montserrat";
    color: white;
}

.title {
    backdrop-filter:  blur(5px);
}
.title p {
    font-size: 150%;
    line-height: 2vw;
    padding-top: 2.5%;
    padding-left: 2%;
    padding-bottom: 1.5%;
    font-weight: bold;

}

#searching-camp {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 5.5vh;
    border-radius:  50vw;
    display: flex;
    align-items: center;


}

.search{
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100%;
}

#busca {
    border: none;
    color: black;
    width: 65vw;
    height: 5.5vh;
    border-radius: 50vw;
}

input {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100vw;
}
input:focus{
    outline: none;
}

#search-button{
    transition: transform 0.5s ease;
}

.movido {
    transform: translateX(-1%);
}


#search-button {
    background-color: #061326;
    border: 0.15rem solid #243754;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    cursor: pointer;
}

#search-button ion-icon{
    color: white;
    font-size: 110%;
}

#search-button:hover{
    background-color: #243754;
    scale: calc(1.1);
    transition: 0.2s;
}

.filter-close-buttons{
    position: absolute;
    border-radius: 40rem;

    display:flex;
    padding: 1%;
    gap: 2%;

    transition: all 0.5s ease;
    
}
.filter-close-buttons button{
    background-color: #061326;
    border: 2.5px solid #243754;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 40rem;
    padding: auto;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter-close-buttons ion-icon{
    color: white;
    font-size: 1.1rem;
} 

.filter-close-buttons button:hover{
    background-color: #243754;
    scale: calc(1.1);
    transition: 0.2s;
}


#filter-button{
    transition: transform 0.3s ease;
}

#filter-button.move{
    transform: translateX(1rem);
    transition: transform 0.3s ease;
}

#close-button{
    display: none;
}

#close-button.show{
    display: flex;
    transition: display 0.3s ease;
}

#filter-options{
    background-color: rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 4rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 1.5rem;
    gap: 1%;

    justify-content:space-between;
    display: flex;
    max-height: 0;
    opacity: 0;
    z-index: -1;

    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#filter-options.show{
    max-height: 6.8rem;
    opacity: 1;
    transition: all 0.3s ease;
}

.filter-button1{
    background-color: #8B26C5;
    border: 0.1vw solid #4D0E72;
    border-radius: 50rem;
    width: 24vw;
    height: 4vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;

}

.filter-button1:hover{
    background-color: #9d36da;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button2{
    background-color: #116797;
    border: 0.1vw solid #0b3d55;
    border-radius: 50rem;
    width: 24vw;
    height: 4vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button2:hover{
    background-color: #1784b1;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button3{
    background-color: #2C8E23;
    border: 0.1vw solid #134b13;
    border-radius: 50rem;
    width: 24vw;
    height: 4vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button3:hover{
    background-color: #39a832;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button4{
    background-color: #A4161A;
    border: 0.1vw solid #5e080a;
    border-radius: 50rem;
    width: 24vw;
    height: 4vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button4:hover{
    background-color: #c01b1f;
    scale: calc(1.05);
    transition: 0.3s;
}


.posts-list{
    background-color: rgba(0, 0, 0, 0.459);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 95%;
    height: 13rem;
    border-radius: 1rem;
}

.post-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post-item:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.925);
    transition: 0.3s;
}

.post-info{
    width: 55%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-image{
    width:45%;
}

.post-image img{
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
}

.post-info h5{
    background-color: #8B26C5;
    border: 0.065rem solid #4D0E72;
    border-radius: 3rem;
    width: 5rem;
    height: 1.3rem;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image-reverse {
    width:45%;
    height: 100%;
}

.post-image-reverse img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

/*justify-content: space-between;*/

.post-item p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.post-item h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-item span{
    color: black;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.post-item-reverse{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 95%;
    height: 13rem;
    border-radius: 1rem;
    flex-direction: row-reverse;
}
.post-item-reverse:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.925);
    transition: 0.3s;
}

/*justify-content: space-between;*/

.post-item-reverse p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.post-item-reverse h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-item-reverse span{
    color: black;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.post-item-reverse p{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.see-more {
    background-color: #E4A11B;
    border: none;
    border-radius: 100%;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more ion-icon{
    color: black;
    transform: scaleY(-1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.see-more button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.see-more button:hover{
    transform: scale(1.2);
    transition: 0.2s;
}


.pagination {
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.pagination-button{
    display: flex;
    height: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0.17rem;
}

.pagination-button button{
    
    background-color: transparent;
    border: 0.13rem solid white;
    border-radius: 0.5rem;
    width: 2.18rem;
    height: 2.18rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    display:inline-block;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.3rem;
}

.pagination-button button:hover {
    background-color: white;
    color: #061326;
    transition: 0.2s;
}


.pagination-button-left {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    rotate: 180deg;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-right: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-left:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

.pagination-button-right {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-left: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-right:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

@media screen and (max-width:2560px) and (min-width:14441px){
    .title p{
    font-size: 150%;
    padding-top: 3.5vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    }

#searching-camp {
    height: 2rem;
}

#busca {
    align-items: center;
    width: 70vw;
    height: 1.8rem;
}

 .search{
    width: 75vw;
    height: 2rem;
 }

input {
    font-size: 0.9rem;
    padding: 0.7rem;
}


.movido {
    transform: translateX(-1%);
}


#search-button {
    border: 0.1rem solid #243754;
    width: 1.4rem;
    height: 1.4rem;
}

#search-button ion-icon{
    font-size: 100%;
}

.filter-close-buttons button{
    border: 0.1rem solid #243754;
    width: 1.4rem;
    height: 1.4rem;
}

.filter-close-buttons ion-icon{
    font-size: 100%;
}

#filter-options{
    border-radius: 0.5rem;
    width: 70vw;
    height: 13vh;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem ;
}

.filter-button1{
    border: 0.1vw solid #4D0E72;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button2{
    border: 0.1vw solid #0b3d55;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button3{
    border: 0.1vw solid #134b13;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button4{
    border: 0.1vw solid #5e080a;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}


.direction1{
    gap: 0.8rem;
    height: 100%;
    
}
.direction2{
    gap: 0.8rem;
    height: 100%;
}

.posts-list{
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 3%;
    width: 90%;
    gap: 1.4rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 12rem;
    border-radius: 0.8rem;
}

.post-info{
    width: 55%;
    padding: 3%;
}

.post-image{
    width:45%;
}

.post-image img{
    width: 100%;
    height: 100%;
    border-radius: 0 0.8rem 0.8rem 0;
}

.post-info h5{
    border: 0.05rem solid #4D0E72;
    width: 6rem;
    height: 1.3rem;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

.post-footer span{
    font-size: 0.85rem;
}

.post-footer{
    align-items:end;
}


.post-info p{
    padding-top: 0.6rem;
    font-size: 1rem;
}

.post-item span{
    font-weight: 300;
}

.post-title h2{
    font-size: 1.5rem;
}

.post-item-reverse{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 12rem;
    border-radius: 0.8rem;
}

.post-image-reverse {
    width:45%;
}

.post-image-reverse img{
        width: 100%;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem ;
}


.post-item-reverse p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.see-more {
    width: 1.2rem;
    height: 1.2rem;
}

.see-more ion-icon{
    color: black;
    height: 0.9rem;
    width: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-button button{
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    width: 1.9rem;
    height: 2.1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.pagination-button-left {
    font-size: 1.9rem;
    margin-right: -0.7rem;
    margin-bottom: 1.4rem;
}

.pagination-button-right {
    font-size: 1.9rem;
    margin-left: -0.7rem;
    margin-bottom: 1.4rem;
}
}

 /*Responsividade do Mobile L*/
@media screen and (max-width:768px){
    .title p{
    font-size: 150%;
    padding-top: 3.5vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    }

#searching-camp {
    height: 2rem;
}

#busca {
    align-items: center;
    width: 70vw;
    height: 1.8rem;
}

 .search{
    width: 75vw;
    height: 2rem;
 }

input {
    font-size: 0.9rem;
    padding: 0.7rem;
}


.movido {
    transform: translateX(-1%);
}


#search-button {
    border: 0.1rem solid #243754;
    width: 1.4rem;
    height: 1.4rem;
}

#search-button ion-icon{
    font-size: 100%;
}

.filter-close-buttons button{
    border: 0.1rem solid #243754;
    width: 1.4rem;
    height: 1.4rem;
}

.filter-close-buttons ion-icon{
    font-size: 100%;
}

#filter-options{
    border-radius: 0.5rem;
    width: 70vw;
    height: 13vh;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem ;
}

.filter-button1{
    border: 0.1vw solid #4D0E72;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button2{
    border: 0.1vw solid #0b3d55;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button3{
    border: 0.1vw solid #134b13;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}

.filter-button4{
    border: 0.1vw solid #5e080a;
    width: 28vw;
    height: 3.5vh;

    font-weight: 400;
    font-size: 0.9rem;
}


.direction1{
    gap: 0.8rem;
    height: 100%;
    
}
.direction2{
    gap: 0.8rem;
    height: 100%;
}

.posts-list{
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 3%;
    width: 90%;
    gap: 1.4rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 12rem;
    border-radius: 0.8rem;
}

.post-info{
    width: 55%;
    padding: 3%;
}

.post-image{
    width:45%;
}

.post-image img{
    width: 100%;
    height: 100%;
    border-radius: 0 0.8rem 0.8rem 0;
}

.post-info h5{
    border: 0.05rem solid #4D0E72;
    width: 6rem;
    height: 1.3rem;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

.post-footer span{
    font-size: 0.85rem;
}

.post-footer{
    align-items:end;
}


.post-info p{
    padding-top: 0.6rem;
    font-size: 1rem;
}

.post-item span{
    font-weight: 300;
}

.post-title h2{
    font-size: 1.5rem;
}

.post-item-reverse{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 12rem;
    border-radius: 0.8rem;
}

.post-image-reverse {
    width:45%;
}

.post-image-reverse img{
        width: 100%;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem ;
}


.post-item-reverse p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.see-more {
    width: 1.2rem;
    height: 1.2rem;
}

.see-more ion-icon{
    color: black;
    height: 0.9rem;
    width: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-button button{
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    width: 1.9rem;
    height: 2.1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.pagination-button-left {
    font-size: 1.9rem;
    margin-right: -0.7rem;
    margin-bottom: 1.4rem;
}

.pagination-button-right {
    font-size: 1.9rem;
    margin-left: -0.7rem;
    margin-bottom: 1.4rem;
}
}


 /*Responsividade do Mobile L*/
@media screen and (max-width:426px){
    .title p{
    font-size: 110%;
    padding-top: 3.5vh;
    padding-left: 2vh;
    padding-bottom: 1.5vh;
    }

#searching-camp {
    height: 1.4rem;
}

#busca {
    align-items: center;
    border: none;
    color: black;
    width: 66vw;
    height: 0;
    border-radius: 50vw;
}

 .search{
    width: 65vw;
    height: 0;
 }

input {
    font-size: 0.7rem;
    padding: 0.7rem;
}


.movido {
    transform: translateX(-1%);
}


#search-button {
    border: 0.05rem solid #243754;
    width: 1rem;
    height: 1rem;
    border-radius: 40rem;
}

#search-button ion-icon{
    font-size: 85%;
}

.filter-close-buttons button{
    background-color: #061326;
    border: 0.05rem solid #243754;
    width: 1rem;
    height: 1rem;
    border-radius: 40rem;
}

.filter-close-buttons ion-icon{
    color: white;
    font-size: 85%;
}

#filter-options{
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 0.7rem;

    width: 65vw;
    height: 10vh;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
}

.filter-button1{
    border: 0.01vw solid #4D0E72;
    width: 25vw;
    height: 2.5vh;

    font-weight: 400;
    font-size: 0.7rem;
}

.filter-button2{
    border: 0.1vw solid #0b3d55;
    width: 25vw;
    height: 2.5vh;

    font-weight: 400;
    font-size: 0.7rem;
}

.filter-button3{
    border: 0.1vw solid #134b13;
    width: 25vw;
    height: 2.5vh;

    font-weight: 400;
    font-size: 0.7rem;
}

.filter-button4{
    border: 0.1vw solid #5e080a;
    width: 25vw;
    height: 2.5vh;

    font-weight: 400;
    font-size: 0.7rem;
}


.direction1{
    align-items: center;
    margin-left: 5%;
    display: grid;
    gap: 0;
    height: 90%;
    
}
.direction2{
    align-items: center;
    margin-right: 5%;
    display: grid;
    gap: 0;
    height: 90%;
}

.posts-list{
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 4%;
    width: 90%;
    gap: 0.8rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 8rem;
    border-radius: 0.8rem;
}

.post-info{
    width: 55%;
    padding: 3%;
}

.post-image{
    width:45%;
}

.post-image img{
    width: 100%;
    height: 100%;
    border-radius: 0 0.8rem 0.8rem 0;
}

.post-info h5{
    border: 0.005rem solid #4D0E72;
    width: 3rem;
    height: 0.8rem;
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-footer span{
    font-size: 0.5rem;
}

.post-footer{
    align-items:end ;
}


.post-info p{
    padding-top: 0.4rem;
    font-size: 0.7rem;
}

.post-item h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.post-item span{
    font-weight: 300;
}

.post-title h2{
    font-size: 1rem;
}

.post-item-reverse{
    background-color: rgba(255, 255, 255, 0.729);
    width: 100%;
    height: 8rem;
    border-radius: 0.8rem;
}

.post-image-reverse {
    width:45%;
}

.post-image-reverse img{
        width: 100%;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem ;
}


.post-item-reverse p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.post-item-reverse h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.see-more {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more ion-icon{
    color: black;
    height: 0.6rem;
    width: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-button button{
    border: 0.12rem solid white;
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 1.6rem;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
}

.pagination-button-left {
    font-size: 1.6rem;
    margin-right: -0.8rem;
    margin-bottom: 1.4rem;
}

.pagination-button-right {
    font-size: 1.6rem;
    margin-left: -0.8rem;
    margin-bottom: 1.4rem;
}
}

 /*Responsividade do Mobile M*/
@media screen and (max-width:376px){
.post-item{
    height: 7.5rem;
}

.post-info{
    width: 50%;
    padding: 3%;
}

.post-image{
    width:50%;
}

.post-info h5{
    width: 2.5rem;
    height: 0.7rem;
    font-size: 0.35rem;
}

.post-footer span{
    font-size: 0.4rem;
}

.post-info p{
    padding-top: 0.35rem;
    font-size: 0.6rem;
}

.post-title h2{
    font-size: 0.8rem;
}

.post-item-reverse{
    height: 7.5rem;
}

.post-image-reverse {
    width:50%;
}

.see-more {
    width: 0.7rem;
    height: 0.7rem;
}

.see-more ion-icon{
    height: 0.5rem;
    width: 0.5rem;
}
}
 /*Responsividade do Mobile M*/
@media screen and (max-width:321px){
.post-item{
    height: 7rem;
}

.post-info{
    width: 50%;
    padding: 2.8%;
}

.post-image{
    width:50%;
}

.post-info h5{
    width: 2.3rem;
    height: 0.55rem;
    font-size: 0.35rem;
}

.post-footer span{
    font-size: 0.3rem;
    font-weight: 400;
}

.post-info p{
    padding-top: 0.35rem;
    font-size: 0.5rem;
}

.post-title h2{
    font-size: 0.7rem;
}

.post-item-reverse{
    height: 7rem;
}

.post-image-reverse {
    width:50%;
}

.see-more {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.1rem;
}

.see-more ion-icon{
    height: 0.5rem;
    width: 0.5rem;
}

#searching-camp {
    margin-top: 3%;
}

.posts-list{
    padding: 0.6rem;
}

#filter-options{
    border-radius: 0.6rem;

    width: 65vw;
    height: 6vh;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem ;
}

.filter-button1{
    border: 0.01vw solid #4D0E72;
    width: 23vw;
    height: 2vh;
    font-size: 0.55rem;
}

.filter-button2{
    border: 0.1vw solid #0b3d55;
    width: 23vw;
    height: 2vh;
    font-size: 0.55rem;
}

.filter-button3{
    border: 0.1vw solid #134b13;
    width: 23vw;
    height: 2vh;
    font-size: 0.55rem;
}

.filter-button4{
    border: 0.1vw solid #5e080a;
    width: 23vw;
    height: 2vh;
    font-size: 0.55rem;
}

.direction1{
    height: 100%;
    
}
.direction2{
    height: 100%;
}

.pagination {
    margin-top: 0.3rem;
}

}

