* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../assets/fundo-madeira-brilho-medio.png") no-repeat center center fixed;
    background-size: cover;
}

body *{
    font-family: "Montserrat";
    color: white;
}

.title {
    backdrop-filter:  blur(5px);
}
.title p {
    font-size: 1.5rem;
    line-height: 2vw;
    padding-top: 2.5%;
    padding-left: 2%;
    padding-bottom: 1.5%;
    font-weight: bold;

}

#searching-camp {
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 5.5vh;
    background-color: white;
    border-radius:  50vw;

    display: flex;
    align-items: right;

    position: relative;

}

.search{
    left: 0;
}

#busca {
    border: none;
    color: black;
    width: 48vw;
    height: 5.5vh;
    border-radius: 50vw;
}

input {
    font-size: 1rem;
    padding: 0.8rem;
}
input:focus{
    outline: none;
}

#search-button{
    position: absolute;
    right: 2.5rem;
    top: 13%;
    transition: transform 0.2s ease;
}

.movido {
    transform: translateX(-1.7rem);
}


#search-button button{
    background-color: #061326;
    border: 0.15rem solid #243754;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    cursor: pointer;
}

#search-button ion-icon{
    color: white;
    font-size: 1.1rem;
}

#search-button button:hover{
    background-color: #243754;
    scale: calc(1.1);
    transition: 0.2s;
}

.filter-close-buttons{
    position: absolute;
    right: 0.65rem;
    top: 13%;
    border-radius: 40rem;

    display: flex;
    background-color: #061326;

}
.filter-close-buttons button{
    background-color: #061326;
    border: 2.5px solid #243754;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 40rem;
    padding: auto;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.filter-close-buttons ion-icon{
    color: white;
    font-size: 1.1rem;
} 

.filter-close-buttons button:hover{
    background-color: #243754;
    scale: calc(1.1);
    transition: 0.2s;
}


#filter-button{
    transition: transform 0.3s ease;
}

#filter-button.move{
    transform: translateX(1.9rem);
    transition: transform 0.3s ease;
}

#close-button{
    display: none;
}

#close-button.show{
    display: flex;
    transition: display 0.3s ease;
}

#filter-options{
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 0.7rem;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 6.8rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    padding-top: 1rem;
    padding-bottom: 0.65rem ;

    justify-content:space-between;
    display: flex;
    max-height: 0;
    opacity: 0;

    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#filter-options.show{
    max-height: 6.8rem;
    opacity: 1;
    transition: all 0.3s ease;
}

.filter-button1{
    background-color: #8B26C5;
    border: 0.1vw solid #4D0E72;
    border-radius: 50rem;
    width: 24vw;
    height: 5vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;

}

.filter-button1:hover{
    background-color: #9d36da;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button2{
    background-color: #116797;
    border: 0.1vw solid #0b3d55;
    border-radius: 50rem;
    width: 24vw;
    height: 5vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button2:hover{
    background-color: #1784b1;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button3{
    background-color: #2C8E23;
    border: 0.1vw solid #134b13;
    border-radius: 50rem;
    width: 24vw;
    height: 5vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button3:hover{
    background-color: #39a832;
    scale: calc(1.05);
    transition: 0.3s;
}

.filter-button4{
    background-color: #A4161A;
    border: 0.1vw solid #5e080a;
    border-radius: 50rem;
    width: 24vw;
    height: 5vh;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.filter-button4:hover{
    background-color: #c01b1f;
    scale: calc(1.05);
    transition: 0.3s;
}

.direction1{
    align-items: center;
    margin-left: 5%;
    display: grid;
    gap: 10%;

}
.direction2{
    align-items: center;
    margin-right: 5%;
    display: grid;
    gap: 10%;
}

.posts-list{
    background-color: rgba(0, 0, 0, 0.459);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5%;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 95%;
    height: 13rem;
    border-radius: 1rem;
}

.post-item p{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.post-item:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.925);
    transition: 0.3s;
}

.post-info{
    width: 55%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-image{
    width:45%;
    height: 100%;
}

.post-image img{
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
}

.post-info h5{
    background-color: #8B26C5;
    border: 0.065rem solid #4D0E72;
    border-radius: 3rem;
    width: 5rem;
    height: 1.3rem;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image-reverse {
    width:45%;
    height: 100%;
}

.post-image-reverse img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

/*justify-content: space-between;*/

.post-item p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.post-item h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.post-item span{
    color: black;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.post-item-reverse{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 95%;
    height: 13rem;
    border-radius: 1rem;
    flex-direction: row-reverse;
}
.post-item-reverse:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.925);
    transition: 0.3s;
}

/*justify-content: space-between;*/

.post-item-reverse p{
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    padding-top: 0.4rem;
}

.post-item-reverse h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.post-item-reverse span{
    color: black;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.post-item-reverse p{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.see-more {
    background-color: #E4A11B;
    border: none;
    border-radius: 100%;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more ion-icon{
    color: black;
    transform: scaleY(-1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.see-more button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.see-more button:hover{
    transform: scale(1.2);
    transition: 0.2s;
}


.pagination {
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.pagination-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.17rem;
}

.pagination-button button{
    
    background-color: transparent;
    border: 0.13rem solid white;
    border-radius: 0.5rem;
    width: 2.18rem;
    height: 2.18rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    display:inline-block;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.3rem;
}

.pagination-button button:hover {
    background-color: white;
    color: #061326;
    transition: 0.2s;
}


.pagination-button-left {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    rotate: 180deg;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-right: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-left:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

.pagination-button-right {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    margin-left: -0.5rem;

    margin-bottom: 1.3rem;
}

.pagination-button-right:hover {
    scale: calc(1.2);
    transition: 0.2s;
}

