body {
    background-image: url(../assets/fundonovo.png);
    background-size:cover ;
}

@media (max-width: 768px) {
    .login-box {
        width: 95%;
        flex-direction: column;
        padding: 10px;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.logo-area img {
    width: 250px;
    margin-right: 50px;
}

.form-area {
    display: flex;
    flex-direction: column;
    width: 250px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button {
    background-color: #1B2A41;        
    color: white;                
    border: 3px solid #6B221D;      
    border-radius: 20px;           
    padding: 6px 12px;             
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;              
    transition: 0.3s;
    display: block;
    margin: 0 auto;   
    box-shadow: 0 0 0 3px #1B2A41;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #0d192b;
    color: white;
}