body {
    background-image: url(../assets/fundonovo.png);
    background-size:cover ;
    overflow: hidden;
    margin: 0;
    
}

@media (max-width: 768px) {
    .login-box {
        width: 80%;
        flex-direction: column;
        padding: 10px;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.logo-area img {
    width: 250px;
    margin-right: 30px;
    margin-left: 30px;
}

.form-area {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.submit-btn {
    background-color: #1B2A41;        
    color: white;                
    border: 3px solid #6B221D;      
    border-radius: 20px;           
    padding: 6px 12px;             
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;              
    transition: 0.3s;
    display: block;
    margin: 0 auto;   
    box-shadow: 0 0 0 3px #1B2A41;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: #0d192b;
    color: white;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

.input-container {
    position: relative;
    width: 250px; /* ajuste se quiser */
}

.input-container input {
    width: 100%;
    padding-right: 40px; /* espaço pro ícone */
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.fa-eye-slash {
    position: absolute;
    right: 12px;     /* posição do olho */
    top: 40%;
    transform: translateY(-100%);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    user-select: none;
    width: 20px;
    height: 20px;
}

@media (max-width: 425px) {
    .login-box {
        width: 80%;
        flex-direction: column;
        padding: 10px;
    }
    .logo-area img {
        width: 240px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 375px) {
    .login-box {
        width: 80%;
        flex-direction: column;
        padding: 10px;
    }
    .logo-area img {
        width: 220px;
        margin-right: 15px;
        margin-left: 15px;
    }
}



@media (max-width: 320px) {
    .logo-area img {
        width: 200px;
        margin-right: 10px;
        margin-left: 10px;
    }
}