*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./../assets/fundo-madeira-brilho-medio.png");
}

.modal{
    width: 20%;
    height: fit-content;
    background-color: bisque;
}