*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.navbar {
    width: 100%;
    position: fixed;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 1000;
    
   
    margin-top: auto;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    height: 40px;
}

.logo-part {
    width: 2rem;
}

.menu {
    display: flex;
    width: auto;
    gap: 25px;
    background: #1e2d44;
    padding: 7px 15px;
    border-radius: 25px;
    
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 3px 15px;
    border-radius: 25px;
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a.active {
    background-color: #f0f0f0;
    color: #000000;
}

.menu a.active:hover {
    background-color: #fafafa;
    opacity: 0.8;
}

.menu a:hover {
    background-color: #30415c;
}

.icones-area {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 2rem;
}

.icone {
    width: 40px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.3s;
}

.icone:hover {
    opacity: 1;
}

.logo:hover {
    opacity: 1;
    scale: 1.1;
    transition: 0.5s;
}

.perfil {
    width: 40px;
    border-radius: 100%;
}

.linha-horizontal {
    width: 100%;
    height: 3rem;
    background-color: #1A2B45;
    margin: 0 auto;
    display: none;
}

@media (max-width: 800px) {
    .icones-area {
    width: auto;
    }
    .logo-part {
    padding-top: 0.5rem;
    width: auto;
    }
    .logo {
    height: 30px;
    }

    .top-bar{
        justify-content: center;
        gap: 2rem;
    }
}

@media (max-width: 650px) {
    .menu{
        gap: 3px;
    }
    .menu a{
        padding: 2px 12px;
    }
}

@media (max-width: 555px) {
    .menu {
    display: none;
    }
    .top-bar{
        justify-content: space-between;
        margin-top: 0.5rem;
    }
    .linha-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    opacity: 1;
    }

    .linha-horizontal a{
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
        padding: 3px 15px;
        border-radius: 25px;
    }
    .linha-horizontal a.active {
    background-color: #f0f0f0;
    color: #000000;
    }

    .linha-horizontal a.active:hover {
    background-color: #fafafa;
    opacity: 0.8;
    }

    
    .logo-part {
    padding-top: 0.2rem;
    }
}

@media (max-width: 425px){
    .top-bar{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}