body {
    background-image: url(../assets/bg-oficial.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.top-bar {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    height: 40px;
}

.logo-area {
    width: 2rem;
}

.menu {
    display: flex;
    gap: 25px;
    background: #1e2d44;
    padding: 7px 15px;
    border-radius: 25px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 3px 15px;
    border-radius: 25px;
}

.menu a.active {
    background-color: #f0f0f0;
    color: #000000;
}

.menu a.active:hover {
    background-color: #fafafa;
    opacity: 0.8;
}

.menu a:hover {
    background-color: #30415c;
}

.icones-area {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 2rem;
}

.icone {
    width: 40px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.3s;
}

.icone:hover {
    opacity: 1;
}

.logo:hover {
    opacity: 1;
    scale: 1.1;
    transition: 0.5s;
}

.perfil {
    width: 40px;
    border-radius: 100%;
}

.linha-horizontal {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    margin: 0 auto;
    opacity: 0.2;
    display: none;
}

@media (max-width: 800px) {
    .icones-area {
    width: 1.2rem;
    }
    .logo-area {
    width: 1.2rem;
    }
    .logo {
    height: 30px;
    }
}

@media (max-width: 500px) {
    .menu {
    display: none;
    }
    .linha-horizontal {
    display: block;
    margin-top: 10px;
    }
    .top-bar {
    margin-top: 0.5rem;
    }
    body {
    overflow-x: hidden;
    }
    .logo-area {
    padding-top: 0.2rem;
    }
}

@media (max-width: 700px) {
    .icones-area {
    width: 1.2rem;
    }
    .logo-area {
    width: 1.2rem;
    }
}