/* ! Zerando o CSS-------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! Adicionando background ---------------------------------------------------------- */
main {
    background-image: url(../assets/backgrounds/cover5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* ! Adicionando elemento central ---------------------------------------------------- */
.postContainer{
    height: 90%;
    width: 70%;

    background-color: #e5e5e5;
    border-radius: 10px;
}
/* ! Adicionando navegação do card --------------------------------------------------- */
nav {
    border: 1px solid orangered;

    height: 10%;
    width: 100%;
}
/* ! Organizando disposição do conteúdo ---------------------------------------------- */
.conteudo{
    border: 1px solid rgb(27, 207, 57);
    height: 90%;
    width: 100%;

    display: flex;
}
.containerEsquerdo{
    border: 1px solid rgb(31, 145, 50);
    height: 100%;
    width: 50%;
}
.containerDireito{
    border: 1px solid rgb(18, 40, 136);
    height: 100%;
    width: 50%;
}