/* ! Zerando o CSS-------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ! Adicionando background ---------------------------------------------------------- */
main {
    background-image: url(../assets/backgrounds/backgroundFade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* ! Adicionando elemento central ---------------------------------------------------- */
.postContainer{
    height: 90%;
    width: 55%;

    background-color: #e5e5e5;
    border-radius: 10px;
}
/* ! Adicionando navegação do card --------------------------------------------------- */
nav {
    height: 10%;
    width: 100%;
}
/* ! Organizando disposição do conteúdo ---------------------------------------------- */
.conteudo{
    height: 90%;
    width: 100%;

    display: flex;
}
.containerEsquerdo{
    height: 100%;
    width: 48%;
}
.containerDireito{
    border: 1px solid rgb(18, 40, 136);
    height: 100%;
    width: 53%;
}
/* ! Organizando conteúdo da esquerda ------------------------------------------------ */
/*geral*/
.containerEsquerdo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*imagem*/
.containerImagem{
    margin-top: 1rem;

    height: 58%;
    width: 87%;
    border-radius: 30px;

    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.829);
    img{
        height: 100%;
        width: 100%;
    }
}
/*caixa do título e da tag*/
.containerInformacoes{
    margin-top: 0.5rem;
    height: 37%;
    width: 87%;
}
/*título*/
.titulo{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #3e3e3e;
}
/*tag*/
.tag{
    height: 12%;
    width: 26%;
    border-radius: 10px;
    background-color: #116797;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    color:#EDDFB2;
    margin-top: 0.5rem;
}
/* ! Organizando conteúdo da direita ------------------------------------------------- */
/*geral*/
.containerDireito{
    display: flex;
    flex-direction: column;
}



/* ! Organizando informações do usuário  --------------------------------------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.voltar{
    background-color: #0A3A55;
    height: 55%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 1.7rem;
    .arrow{
        height: 50%;
        width: 50%;
        color:#e5e5e5;
    }
}
.usuario{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding-right: 1rem;
    img{
        height: 70%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    }
    p{
        font-family: "Anton", sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: #3e3e3e;
    }
}
