body {
    background-image: url(../assets/Gemini_Generated_Image_1mpasb1mpasb1mpa.png);
    background-size:cover ;
    color: white;
}

.tabela, 
.tabela th, 
.tabela td {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
     font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-add {
    background-color: #1B2A41;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-top: -50px;
    font-size: 20px;
    opacity: 0.9;
}

.tabela {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: #1B2A41;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.9;
}

.tabela thead th {
    padding: 15px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #3b4a6b;
}

.tabela tbody td {
    padding: 15px;
    border-bottom: 1px solid #3b4a6b;
    cursor:pointer;
}

.img-cell {
    width: 80px;
    height: 50px;
    background-image: url(../assets/Header\ Nome.png);
    border-radius: 5px;
}

.acoes i {
    margin: 0 0px;
    cursor: pointer;
    transition: 0.3s;
    padding: 2px;
}

.acoes i:hover {
    transform: scale(1.1);
    color: #0099ff;
}

.paginacao {
    margin-top: 20px;
}

.paginacao span {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
}

.paginacao .ativo {
    background-color: #fff;
    color: #000000;
}