*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/Gemini_Generated_Image_1mpasb1mpasb1mpa.png);
    background-size:cover ;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 65%;
}

.scroll-lateral {
    width: fit-content;

}

.tabela, 
.tabela th, 
.tabela td {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.tabela-container {
    width: 100vw;

    margin: 0px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px;
    width: fit-content;
}

.btn-add {
    background-color: #1B2A41;
    color: white;
    border: none;
    font-weight: bold;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    padding-right: 15px;
    width: 132.55px;
    height: 55px;
    border-radius: 15%;
    cursor: pointer;
    float: right;
    font-size: 20px;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.btn-add:hover{
    transform: scale(1.15);
    background-color: #283d5e;
}

.tabela {
    width: 65vw;
    margin-top:0px;
    border-collapse: collapse;
    background-color: #1B2A41;
    border-radius: 0px;
    overflow: hidden;
    opacity: 0.9;
    position: center;
    margin-left: 0px;
}

.tabela thead th {
    padding-top: 20px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    border-bottom: 20px solid #1B2A41;
}

.tabela tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    border-bottom: 20px solid #1B2A41;
    cursor:pointer;
}

.img-cell {
    width: 1rem;
    height: 20px;
    border-radius: 0px;
    padding: 0px;
    
}

.img-cell img {
    width: 100px;
    height: auto;
    border-radius: 0px;
}

.acoes td {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border: 5px;
}

.acoes i {
    margin: 0 0px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
}

.acoes .fa-eye:hover {
    transform: scale(1.1);
    color: #0099ff;
}

.acoes .fa-pencil:hover {
    transform: scale(1.1);
    color: #FF7F00;
}

.acoes .fa-trash:hover {
    transform: scale(1.1);
    color: #e90707;
}

.acoes button{
    background: none;
    border: none;
    color: white;
}

.pagination {
    padding-top: 2rem;
}

@media (min-width: 2560px) {
    .tabela-container {
        width: 100%;
        align-items: center;
        justify-self: center;
        justify-content: center;
        align-self: center;
        margin-top: 20%;
    }
}

@media (max-width: 860px) {
    .tabela {
        width: 100%;
        max-height: 100px;
    }
}

@media (max-width: 768px) {
    .table-header {
        width: 90%;
        align-items: flex-start;
        gap: 10px;
        margin-top: 2rem;
    }
    .tabela {
        width: 90vw;
        max-height: 70vh;
    }
    .btn-add{
        align-self: center;
    }
}

@media (max-width: 600px) {
    .scroll-lateral {
        overflow-x: auto;
        width: 98%;
    }
    .titulo {
        font-size: 2.5rem;
    }
    .tabela {
        min-width: 600px;
        width: 80vw;
        max-height: 60vh;
        flex-direction: column;
    }
    .tabela-container {
        overflow: hidden;
    }
}

@media (max-width: 425px) {
    .table-header {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    .tabela-container {
        margin: 15px;
    }
    .titulo {
        width: 100%;
        font-size: 2rem;
    }
    .btn-add {
        width: 130px;
        align-self: center;
        height: 40px;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 400px) {
    .table-header {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    .tabela-container {
        margin: 15px;
    }
    .titulo {
        width: 100%;
        font-size: 2rem;
    }
    .btn-add {
        width: 100px;
        height: 40px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
}