*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/Gemini_Generated_Image_1mpasb1mpasb1mpa.png);
    background-size:cover ;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    width: 90%;;
}

.scroll-lateral {
    width: fit-content;

}

.tabela, 
.tabela th, 
.tabela td {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.tabela-container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px;
    width: fit-content;
}

.btn-add {
    background-color: #1B2A41;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    font-size: 40px;
    opacity: 0.9;
}

.tabela {
    width: 90vw;
    margin-top:0px;
    border-collapse: collapse;
    background-color: #1B2A41;
    border-radius: 0px;
    overflow: hidden;
    opacity: 0.9;
    position: center;
    margin-left: 0px;
}



.tabela thead th {
    padding-top: 20px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    border-bottom: 20px solid #1B2A41;
}

.tabela tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    border-bottom: 20px solid #1B2A41;
    cursor:pointer;
}

.img-cell {
    width: 20px;
    height: 20px;
    background-image: url(../assets/Header\ Nome.png);
    border-radius: 0px;
}

.acoes i {
    margin: 0 0px;
    cursor: pointer;
    transition: 0.3s;
    padding: 2px;
    font-size: 2rem;
}

.acoes .bi-eye:hover {
    transform: scale(1.1);
    color: #0099ff;
}

.acoes .bi-pencil:hover {
    transform: scale(1.1);
    color: #eeff00;
}

.acoes .bi-trash:hover {
    transform: scale(1.1);
    color: #e90707;
}

.paginacao {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .scroll-lateral {
        overflow-x: auto;
        width: 98%;
    }
    .titulo {
        font-size: 2.5rem;
    }
    .tabela {
        min-width: 600px;
    }
    .tabela-container {
        overflow: hidden;
    }
}