* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

body {
    display: flex;
    min-width: 100vh;
    background-image: url("./../assets/Fundo.png");
    background-attachment: fixed;
    background-size:cover;
}

main{
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(106px + 20px);
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #44110D;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    border-right:3px solid #832f29;
    box-shadow: 0.01rem 0.01rem 0.3rem 0.1rem #000000;
    transition: all 0.6s ease;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: block;
    margin: 20px 0 15px 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#avatar {
    width: 50px;
    height: 50px;;
    border: 2px solid white;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s ease;
}

#user_infos{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: rgb(255, 255, 255);
    align-items: center;
}

#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    list-style: none;
}

.side_item {
    border-radius: 15px;
    width: 80%;
    padding: 14px;
    cursor: pointer;
}

.side_item.active {
    background-color: #832f29;
}

.side_item:hover:not(.active),
#logout_btn:hover {
    background-color: #5d1811;
}

.side_item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.side_item a ion-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

#logout {
    margin: 10px;
    border-top: 1px solid white;
    padding: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;

}

#logout_btn ion-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    width: 30px;
    height: 30px;
}

#open_btn {
    display: flex;
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: #832f29;
    border: none;
    border-radius: 20px;
    width: 18px;
    height: 23px;
    color: white;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#open_btn_icon {
    transition: transform 0.5s ease;
}

#open_btn:hover {
    transform: scale(1.2);
}

.item_description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    transition: width 0.5s;
}

.user_description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight:600;
    transition: width 0.5s;
}


#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item_description{
    width: 150px;

}

#sidebar.open-sidebar .user_description{
    width: 150px;

}

#sidebar.open-sidebar .side_item a{
    justify-content: flex-start;
    gap: 14px;
}

.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}


#sidebar.open-sidebar #avatar{
    transform: scale(2.3);
    border-radius: 14px;
    margin: 35px 0px 35px 0px;
}
