* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./../assets/Fundo.png");
    background-attachment: fixed;
    background-size:cover;
}

main{
/*    background-color: #6B231E;*/
    background-color: #44110D;
    border: none;
    height: 100%;
    width: 20vw;
    position: fixed;
    box-shadow: 0.01rem 0.01rem 0.3rem 0.1rem #290e0c;

    padding: 3% 2% 3% 2%;
}

#container {
    height: 100%;
    width: 100%;
}

.profile {
    display:block;
    align-items: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 8%;

    border-bottom: 0.1vh solid white;
}

.picture img{
    width: 45%;
    border: 0.4vh solid white;
    border-radius: 3vh;
}

.username{
    padding-top: 0.6vh;
}
.username h2{
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    height: auto;
    width: auto;
    margin-top: 5%;
}

.main-buttons{
    height: 58vh;
    border-bottom: 0.1vh solid white;
}

.button {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    padding-bottom: 3% ;
    padding-top: 3%;
    padding-right: 12%;
    
}

.button button{

    background-color:#44110D;
    color: white;
    border: none;
    border-radius: 3vh;
    width: 18vw;
    display: flex;
    flex-direction: row;
    gap: 1.5vh;
    align-items: center;

    cursor: pointer;
}

.button p{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
}

.icon ion-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin: auto;
    padding-top: 30%;
    padding-left: 20%;
    padding-bottom: 30%;
}

.text {
    align-items: center;
}

.text p{
    margin: auto;
    text-align: center;
    align-items: center;
}

.button button:hover {
    background-color: #832f29;
    transition: 0.4s;
}

.button-logout {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    padding-bottom: 3% ;
    padding-top: 3%;
    padding-right: 12%;
    
}

.button-logout button{

    background-color:#44110D;
    color: white;
    border: none;
    border-radius: 3vh;
    width: 18vw;
    display: flex;
    flex-direction: row;
    gap: 1.5vh;
    align-items: center;

    cursor: pointer;
}

.button-logout p{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
}

.icon-logout ion-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin: auto;
    padding-top: 30%;
    padding-left: 20%;
    padding-bottom: 30%;
}

.text-logout {
    align-items: center;
}

.text-logout p{
    margin: auto;
    text-align: center;
    align-items: center;
}

.button-logout button:hover {
    background-color: #832f29;
    transition: 0.4s;
}

@media only screen and (max-width: 767px ){

    h2{
        font-size: 10px;
    }
}

