* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./../assets/Fundo.png");
    background-attachment: fixed;

    height: max-content;
}

main{
/*    background-color: #6B231E;*/
    background-color: #44110D;
    border: none;
    height: 100%;
    width: 288px;
    position: fixed;
    box-shadow: 0.01rem 0.01rem 0.3rem 0.1rem #290e0c;

    padding: 50px 35px 50px 35px;
}

#container {
    height: 100%;
    width: 100%;
}

.profile {
    display:block;
    align-items: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 4px;

    border-bottom: 1px solid white;
}

.picture img{
    width: 45%;
    border: 2px solid white;
    border-radius: 20px;
}

.username h2{
    color: white;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    height: auto;
    width: auto;
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: left;
    padding: 30px;
    padding-bottom: 10px ;
    padding-top: 10px;
    
}

.button button{

    background-color:#44110D;
    color: white;
    border: none;
    border-radius: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    cursor: pointer;
}

.button p{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
}

.icon ion-icon{
    width: 25px;
    height: 25px;
    margin: auto;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 4px;
}

.text {
    align-items: center;
}

.text p{
    margin: auto;
    text-align: center;
    align-items: center;
}

.button button:hover {
    background-color: #832f29;
    transition: 0.4s;
}