/*Tira o CSS padrão do navegador*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Container onde fica o background*/
.container{
    /*Adiciona background, centraliza e define tamanho*/
    background-image: url(../assets/backgrounds/cover4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.blocoPrincipal{
    /*Cria uma div para "segurar" a tabela*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.topo{
    /*Aqui é a parte do titulo da tabala*/
    /*Dimensiona e organiza como os elementos ficam alinhados*/
    height: 10rem;
    width: 85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Estiliza o titulo*/
    h1{
        color: #ffff;
        font-family: "Anton", sans-serif;
        font-weight: 100;
        font-size: 80px;
    }
    /*Dimensiona e organiza o botão de adicionar*/
    .criar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-color: #1B2A41;
        /*Dimensiona a imagem dentro*/
        img{
            height: 3rem;
            width: 3rem;
        }
    }
}
/*Css da caixa da tabela*/
.tabela{
    /*Dimensiona*/
    height: 40rem;
    width: 85rem;
    /*Organiza os itens*/
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
}
/*Css para todos os "Quadrados" do grid*/
.filho{
    height: 6rem;
    width: 17rem;
    background-color: #1B2A41;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffff;
}
/*Css da imagem do primeiro quadrado de cada linha*/
.imagemTabela {
    height: 4rem;;
    width: 4rem;
    border-radius: 50%;
}
/*Organiza disposição dos elementos nessa div onde ficam os botões*/
.acoes{
    display: flex;
    align-items: center;
    gap:1rem;
}
/*Dimensiona icone de ver*/
.iver{
    height: 2.3rem;
    width: 2.3rem;
}
/*Dimensiona icone de editar e excluir*/
.ieditar, .iexcluir{
    height: 2rem;
    width: 2rem;
}
/*Aparencia do icone de ver e hover*/
.bot.ver .iver {
    fill: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.bot.ver:hover .iver {
    fill: #00ff66; 
    filter: drop-shadow(0 0 6px #66ffb2);
    transform: scale(1.1);
}
/*Aparencia do icone de editar e hover*/
.bot.editar .ieditar {
    fill: #ffffff; 
    transition: all 0.3s ease;
    cursor: pointer;
}
.bot.editar:hover .ieditar {
    fill: #FF7F00;
    filter: drop-shadow(0 0 6px #FF7F00);
    transform: scale(1.1);
}
/*Aparencia do icone de excluir e hover*/
.bot.excluir .iexcluir {
    fill: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.bot.excluir:hover .iexcluir {
    fill: #A90D0D;
    filter: drop-shadow(0 0 6px #d41616);
    transform: scale(1.1);
}
.criar:hover 
{
    transform: scale(1.1);
    background-color: #1f314d;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.192);
    cursor: pointer;
}