body{
    background-image:url(../assets/backgroundFade.jpg);
    color: #FAFAFA;
   
    background-size: cover;
      background-repeat: no-repeat;
   
    
}


.conteiner{
    display: grid;
    place-items: center;
   
    gap:1em;



}



.conteiner{ 
padding-top: 3%;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 2em;

    .titulo{
    font-size: 1em;
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40vw;

   
}


}

h2{
    font-size: 1.5em;
    transform: scale(2);
    font-weight: lighter;
    
}

.conteiner .titulo i{
        padding: 25px;
        border-radius: 64px;
        background-color: #1B2A41 ;
        font-size: 1.5em;
        
    }

.conteiner .titulo i:hover{
    transform: scale(1.1);

    
}



.conteiner .corpo{
    font-size: 2em;
    display: flex;
    flex-direction: row;
    width: 60vw;
    

    background-color: #1B2A41;
    padding: 1em 1em 1em 1em;
    opacity: 90%;

    font-family: "Montserrat";
  
    

}





.c00{
    display: flex;
    justify-content: space-between;
  

}

.c01{
    display: flex;
    justify-content: space-between;

   
   
}



.c02{
    display: flex;
    justify-content: space-between;

   
}

.c03{
    display: flex;
    justify-content: space-between;

   
}

.c04{
    display: flex;
    justify-content: space-between;

   
}

.c05{
    display: flex;
    justify-content: space-between;

   
}



#nome{
  margin-left: 3em;
    
}

#email{
    
}

#ident{
    
}

#vis:hover{
 
        color: green;
        transform: scale(1.1);
    
}

#edit:hover{
    color:yellow;
    transform: scale(1.1);

}

#exc:hover{
    color:red;
    transform: scale(1.1);
}


.conteiner .corpo img{
    width: 0.5em;
    height: 0.5em;
    border-radius: 16px;
    transform: scale(2.5);

}

p{
    display: flex;
    justify-content: center;
    font-weight: bold;
}




