body{
    background-image:url(../assets/backgroundFade.jpg);
    color: #FAFAFA;
   
    background-size: cover;
      background-repeat: no-repeat;
   
    
}


.conteiner{
    display: grid;
    place-items: center;
   
    gap:1em;



}



.conteiner{ 
padding-top: 10%;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 2em;

    .titulo{
    font-size: 1em;
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40vw;

   
}


}

h2{
    font-size: 1.5em;
    transform: scale(2);
    
}

.conteiner .titulo i{
        padding: 25px;
        border-radius: 64px;
        background-color: #1B2A41 ;
        font-size: 1.5em;
        
    }

.conteiner .titulo i:hover{
    transform: scale(1.1);

    
}



.conteiner .cabeca{
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    gap: 6em;

    background-color: #1B2A41;
    padding: 1em 2em 1em 5em;
    opacity: 90%;

    font-family: "Montserrat";
    margin-right: 5%;
    

}

.conteiner .corpo{
   font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 6em;


     background-color: #1B2A41;
     padding: 1.5em 1.5em 1.5em 1.5em;
    opacity: 90%;
    margin-right: 3.5em;
    
   
    
}

#nome{
    margin-right: 1em;
}

#vis:hover{
 
        color: green;
        transform: scale(1.1);
    
}

#edit:hover{
    color:yellow;
    transform: scale(1.1);

}

#exc:hover{
    color:red;
    transform: scale(1.1);
}


.conteiner .corpo img{
    width: 1em;
    height: 1em;
    border-radius: 16px;
    transform: scale(2.5);

}

p{
    display: flex;
    justify-content: center;
    font-weight: bold;
}




