



body {




    background-color: #233156;
    background-image: url(../assets/Covers/cover4.png);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;

      backdrop-filter: blur(10px);

   
 



}

.conteinerUp{

    display: flex;
    justify-content: center;
    align-items: center;

    margin:0 auto;
    height: 30vh;
 

    padding-bottom: 20%;
    padding-right: 25%;
    padding-left: 25%;
 
 
     background-image: url(../assets/Covers/cover5.png);
    background-size: cover;
    background-repeat: no-repeat;

    border-top-left-radius: 19px;
    border-top-right-radius:19px ;

  
  
}


.user span{
    transform: scale(0.8);
}

.sair span{
    background-color: #E6E7EB;
    display: flex;
    justify-content: center;

     align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 5vh;
    width: 3em;
    border-radius: 10px;
    color: #3B4F66;
    margin-top: 10%;
    
    

    font-size: 2em;
    transform: scale(0.8);


}


.sair span:hover{
     transform: scale(0.9);
     cursor: pointer;
}



.user{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-size: 1.5em;

  
    width: 30%;
    height: 20%;

    background-color: #FAFAFA;
 

}


.id{
     margin-top: 2em;
    border: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
    padding: 0.2em;

    height: 10%;
    width: 10em;
 
   
}

.nome{
    margin-top: 2em;
    border: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
  padding: 0.2em;

  height: 10%;
    width: 10em;
}


.email{
    margin-top: 2em;
    border: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
  padding: 0.2em;

   height: 10%;
    width: 10em;
}

.senha{
   margin-top: 2em;
    border: 1px solid rgb(95, 95, 95);
    display: flex;
    justify-content: center;
  padding: 0.2em;

   height: 10%;
    width: 10em;
}



.texto {
    font-size: 1em;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
 


    border-bottom: 1px solid rgb(153, 153, 153) ;


}

.id span{
    background-color: #A4161A;
    padding: 0;
    display: flex;
    justify-content: center;

  
    border-radius: 32px;
    width: 3em;
  

    }









.nome {
    span{
    background-color: #E4A11B;
    padding: 0;
    display: flex;
    justify-content: center;

  
    border-radius: 32px;
    width: 3em;
   

  
    }
}

.email {
    span{
    background-color: #0A3A55;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    width: 3em;
   

  
    }
}

.senha {
    span{
    background-color: #578F11;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    width: 3em;
   

  
    }
}



.conteiner {



    background-color: #fafafa;

    width: 23em;
    height: 50em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   


   
    
    border-radius:20px;

   


}


.containerDown{
    padding-bottom: 10%;
}


.imgPerfil {
    width: 100%;
    height: 50%;
     background-color: #0A3A55;
}


.imgPerfil img {
 
    width: 10vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    border-radius: 264px;



}



