<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
</head>
<body>
    <div class="background">
        <div class="conteudo">
            <img src="../../../public/assets/Imagens/logo.png" alt="" class="logo">
            <div class="links">
                <div class="postagens">
                    <div class="icone">
                        <img src="../../../public/assets/SVG/posts.svg" alt="">
                    </div>
                    <p>Postagens</p>
                </div>
                <div class="usuarios">
                    <div class="icone">
                        <img src="../../../public/assets/SVG/usuarios.svg" alt="">
                    </div>
                    <p>Usuários</p>
                </div>
            </div>
            <div class="botoes">
                <div class="home">
                    <div class="caixaHome">
                        <img src="../../../public/assets/SVG/home.svg" alt=""> 
                    </div>
                    <p>HOME</p>
                </div>
                <div class="logout">
                    <div class="caixaLogout">
                        <img src="../../../public/assets/SVG/logout.svg" alt="">
                    </div>
                    <p>LOG-OUT</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>