<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de usuários</title>
    <link rel="stylesheet" href="../../../public/css/tabelaUsuarios.css">
    <link rel="stylesheet" href="../../../public/css/criarUsuario.css">
    <link rel="stylesheet" href="../../../public/css/editarUsuario.css">
    <link rel="stylesheet" href="../../../public/css/vizualizarUsuario.css">
    <link rel="stylesheet" href="../../../public/css/excluirUsuario.css">
    <!-- Metadados para as fontes -->
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/bf586e4b37.js" crossorigin="anonymous"></script>
    <script src="../../../public/js/tabelaUsuarios.js" defer></script>
</head>
<body>
    <!-- Fundo da página -->
    <div class="containerGeral">
        <!-- Caixa onde vai ficar o título, o botão de criar e a tabela-->
        <div class="blocoPrincipal">
            <!--Parte do Tabela de usuários e botão de criar -->
            <div class="topo">
                <!--titulo-->
                <h1>Tabela de Usuários</h1>
                <!--botao de criar usuario-->
                <div class="criar" onclick="abrirModal('criar')"><img src="../../../public/assets/criar.svg" alt=""></div>
            </div>
            <!--tabela-->
            <table class="tabela">
                <thead>
                    <tr>
                        <th class="filho filho1">Foto</th>
                        <th class="filho filho2">Nome</th>
                        <th class="filho filho3">Email</th>
                        <th class="filho filho4">ID</th>
                        <th class="filho filho5">Ações</th>
                    </tr>
                </thead>

            <tbody>
                <tr>
                    <td class="filho filho6"><img src="../../../public/assets/FotosTabelas/usuariopadrao.jpeg" alt="" class="imagemTabela"></td>
                    <td class="filho filho7">Rangel</td>
                    <td class="filho filho8">rangelouco...</td>
                    <td class="filho filho9">5656</td>
                    <td class="filho filho10">

               
           
               
                    <!--div dos botoes de acao-->
                    <div class="acoes">
                        <!--botao ver-->
                        <div class="bot ver" onclick="abrirModal('visualizar')">
                            <!--icone-->
                            <svg class="iver" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"/>
                            </svg>
                        </div>
                        <!--botao editar-->
                        <div class="bot editar" onclick="abrirModal('editar')">
                            <!--icone-->
                            <svg class="ieditar" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14.2525V18.0025H3.75L14.81 6.9425L11.06 3.1925L0 14.2525ZM17.71 4.0425C18.1 3.6525 18.1 3.0225 17.71 2.6325L15.37 0.2925C14.98 -0.0975 14.35 -0.0975 13.96 0.2925L12.13 2.1225L15.88 5.8725L17.71 4.0425Z"/>
                            </svg>
                        </div>
                        <!--botao excluir-->
                        <div class="bot excluir" onclick="abrirModal('excluir')">
                            <!--icone-->
                            <svg class="iexcluir" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z"/>
                            </svg>
                        </div>
                    </div>

                    </tr>

                     <tr>
                    <td class="filho filho6"><img src="../../../public/assets/Imagens/usuario.png" alt="" class="imagemTabela"></td>
                    <td class="filho filho7">----</td>
                    <td class="filho filho8">----</td>
                    <td class="filho filho9">----</td>
                    <td class="filho filho10">

               
           
               
                    <!--div dos botoes de acao-->
                    <div class="acoes">
                        <!--botao ver-->
                        <div class="bot ver" onclick="abrirModal('visualizar')">
                            <!--icone-->
                            <svg class="iver" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"/>
                            </svg>
                        </div>
                        <!--botao editar-->
                        <div class="bot editar" onclick="abrirModal('editar')">
                            <!--icone-->
                            <svg class="ieditar" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14.2525V18.0025H3.75L14.81 6.9425L11.06 3.1925L0 14.2525ZM17.71 4.0425C18.1 3.6525 18.1 3.0225 17.71 2.6325L15.37 0.2925C14.98 -0.0975 14.35 -0.0975 13.96 0.2925L12.13 2.1225L15.88 5.8725L17.71 4.0425Z"/>
                            </svg>
                        </div>
                        <!--botao excluir-->
                        <div class="bot excluir" onclick="abrirModal('excluir')">
                            <!--icone-->
                            <svg class="iexcluir" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z"/>
                            </svg>
                        </div>
                    </div>

                    </tr>

                    
                     <tr>
                    <td class="filho filho6"><img src="../../../public/assets/Imagens/usuario.png" alt="" class="imagemTabela"></td>
                    <td class="filho filho7">----</td>
                    <td class="filho filho8">----</td>
                    <td class="filho filho9">----</td>
                    <td class="filho filho10">

               
           
               
                    <!--div dos botoes de acao-->
                    <div class="acoes">
                        <!--botao ver-->
                        <div class="bot ver" onclick="abrirModal('visualizar')">
                            <!--icone-->
                            <svg class="iver" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"/>
                            </svg>
                        </div>
                        <!--botao editar-->
                        <div class="bot editar" onclick="abrirModal('editar')">
                            <!--icone-->
                            <svg class="ieditar" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14.2525V18.0025H3.75L14.81 6.9425L11.06 3.1925L0 14.2525ZM17.71 4.0425C18.1 3.6525 18.1 3.0225 17.71 2.6325L15.37 0.2925C14.98 -0.0975 14.35 -0.0975 13.96 0.2925L12.13 2.1225L15.88 5.8725L17.71 4.0425Z"/>
                            </svg>
                        </div>
                        <!--botao excluir-->
                        <div class="bot excluir" onclick="abrirModal('excluir')">
                            <!--icone-->
                            <svg class="iexcluir" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z"/>
                            </svg>
                        </div>
                    </div>

                    </tr>

                    
                     <tr>
                    <td class="filho filho6"><img src="../../../public/assets/Imagens/usuario.png" alt="" class="imagemTabela"></td>
                    <td class="filho filho7">----</td>
                    <td class="filho filho8">----</td>
                    <td class="filho filho9">----</td>
                    <td class="filho filho10">

               
           
               
                    <!--div dos botoes de acao-->
                    <div class="acoes">
                        <!--botao ver-->
                        <div class="bot ver" onclick="abrirModal('visualizar')">
                            <!--icone-->
                            <svg class="iver" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"/>
                            </svg>
                        </div>
                        <!--botao editar-->
                        <div class="bot editar" onclick="abrirModal('editar')">
                            <!--icone-->
                            <svg class="ieditar" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14.2525V18.0025H3.75L14.81 6.9425L11.06 3.1925L0 14.2525ZM17.71 4.0425C18.1 3.6525 18.1 3.0225 17.71 2.6325L15.37 0.2925C14.98 -0.0975 14.35 -0.0975 13.96 0.2925L12.13 2.1225L15.88 5.8725L17.71 4.0425Z"/>
                            </svg>
                        </div>
                        <!--botao excluir-->
                        <div class="bot excluir" onclick="abrirModal('excluir')">
                            <!--icone-->
                            <svg class="iexcluir" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z"/>
                            </svg>
                        </div>
                    </div>

                    </tr>

                    
                     <tr>
                    <td class="filho filho6"><img src="../../../public/assets/Imagens/usuario.png" alt="" class="imagemTabela"></td>
                    <td class="filho filho7">----</td>
                    <td class="filho filho8">----</td>
                    <td class="filho filho9">----</td>
                    <td class="filho filho10">

               
           
               
                    <!--div dos botoes de acao-->
                    <div class="acoes">
                        <!--botao ver-->
                        <div class="bot ver" onclick="abrirModal('visualizar')">
                            <!--icone-->
                            <svg class="iver" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0ZM11 12.5C8.24 12.5 6 10.26 6 7.5C6 4.74 8.24 2.5 11 2.5C13.76 2.5 16 4.74 16 7.5C16 10.26 13.76 12.5 11 12.5ZM11 4.5C9.34 4.5 8 5.84 8 7.5C8 9.16 9.34 10.5 11 10.5C12.66 10.5 14 9.16 14 7.5C14 5.84 12.66 4.5 11 4.5Z"/>
                            </svg>
                        </div>
                        <!--botao editar-->
                        <div class="bot editar" onclick="abrirModal('editar')">
                            <!--icone-->
                            <svg class="ieditar" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 14.2525V18.0025H3.75L14.81 6.9425L11.06 3.1925L0 14.2525ZM17.71 4.0425C18.1 3.6525 18.1 3.0225 17.71 2.6325L15.37 0.2925C14.98 -0.0975 14.35 -0.0975 13.96 0.2925L12.13 2.1225L15.88 5.8725L17.71 4.0425Z"/>
                            </svg>
                        </div>
                        <!--botao excluir-->
                        <div class="bot excluir" onclick="abrirModal('excluir')">
                            <!--icone-->
                            <svg class="iexcluir" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM14 1H10.5L9.5 0H4.5L3.5 1H0V3H14V1Z"/>
                            </svg>
                        </div>
                    </div>

                    </tr>


                 </tbody>
    
    <script src="../../../public/js/tabelaUsuarios.js"></script>
</body>
</html>