<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Publicação</title>
    <link rel="stylesheet" href="../../../public/css/adicionar.css">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="form-box">
            <h2>Criar Publicação</h2>
            <div class="form-left">
                <label>Título:</label>
                <input type="text">
                <label>Autor:</label>
                <input type="text">
                <label>Data:</label>
                <input type="text">
                <div class="image-section">
                    <img src="../../../public/assets/previaimg.png" alt="Prévia imagem">
                    <button class="image-btn">Selecionar imagem</button>
                </div>
            </div>
            <div class="form-right">
                <label>Conteúdo:</label>
                <textarea></textarea>
            </div>
            <button class="submit-btn">Criar</button>
        </div>
    </div>
</body>
</html>