<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modais</title>
    <link rel="stylesheet" href="../../../public/css/criarUsuário.css">
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="criarU">
        <div class="container">
            <div class="containerRight">
                <div class="imgPerfil"><img src="../../../public/assets/Imagens/usuario.png" alt=""></div>
                <div class="botaoAddFoto"><p class="textoBotao">Adicionar foto</p></div>
                <div class="tituloA">
                    <h1 class="tituloAdd">Vamos adicionar um</h1>
                    <h1 class="tituloAdd">novo usuário!</h1>
                </div>
                <div class="guiaA">
                    <p class="guiaAdd">Preencha as informações do usuário</p>
                    <p class="guiaAdd">nos campos a seguir</p>
                </div>

            </div>
            <div class="containerLeft">
                <div class="inputs">
                    <div class="nome">
                        <p>Nome</p>
                        <input type="text" name="nome" required>
                    </div>
                    <div class="email">
                        <input type="text" name="nome" required>
                    </div>
                    <div class="senha">
                        <input type="password" name="nome" required>
                    </div>
                </div>
                <div class="barraHorizontal"></div>
                <div class="caixaBotoes"></div>
            </div>
        </div>
    </section>

</body>
</html>