<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../../../public/css/excluirUsuario.css">
    <title>Excluir Usuário</title>
    <style>
      
    </style>
</head>
<body>
   
    <div class="conteiner">

        <div class="caixa">

            <div class="fotoPerfil">
                <img src="../../../public/assets/Imagens/usuario.png">
            </div>

        

            <div class="texto">
             Tem certeza que deseja </br>
             excluir o usuario </br>

            
            <span class="usuario"> usuario</span> 

            <p>Essa ação não poderá ser desfeita.</p>
            </div>

       

       
            <div class="botoes">
            <div class="cancelar">Cancelar</div>
            <div class="excluir">Excluir</div>
            </div>
        </div>

    </div>

      
</body>
</html>