<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a6a94f2c3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../../public/css/footerStyle.css">

    <script defer src="../../../public/js/footerScript.js"></script>
</head>

<body>


    <footer>



        <div class="conteiner">


            <div class="motivacao">

                <span>
                    <h5 id="m" onmouseover="mostrarTexto('texto-missao')" onmouseout="mostrarLogo()">Missão</h5>

                    <h5 id="v" onmouseover="mostrarTexto('texto-visao')" onmouseout="mostrarLogo()">Visão</h5>

                    <h5 id="val" onmouseover="mostrarTexto('texto-valores')" onmouseout="mostrarLogo()">Valores</h5>
                </span>


            </div>

            <div class="footerLogo" >
                <img src="../../../public/assets/FadeClub-logo3.png" alt="Logo Fade Club" id="FadeLogo">


                <p id="texto-missao">iatis unde omnis iste natus error sit voluptatem accusantium<br />
                    doloremque laudantium, t77777777777777777777777777777777777777777 <br />
                    illo inventore veritatis et quasi architecto
                    <br /> beatae vitae dicta sunt explica
                </p>

                <p id="texto-visao">iatis und666666666666666666666666666666ccusantium<br />
                    doloremque laudantium, totam rem a5periam, eaque ipsa quae <br />
                    illo inventore veritatis et q5uasi architecto
                    <br /> beatae vitae dicta sunt explica
                </p>


                <p id="texto-valores">iatis und5e omni55555555555555555555555555555m<br />
                    doloremque laudantium, totam rem a3periam, eaque ipsa quae <br />
                    illo inventore veritatis et q3uasi architecto
                    <br /> beatae vitae dicta sunt explica
                </p>






            </div>

            <div class="contatos">
                <h3>Contatos</h3>
                <div id="redes">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://web.whatsapp.com" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="https://www.instagram.com">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                    </a>



                </div>

                <h4>© 2024 Code Júnior</h4>

            </div>
        </div>

    </footer>
</body>

</html>