<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Individual    </title>
    

     
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

   <script src="https://kit.fontawesome.com/a6a94f2c3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../../public/css/individualStyles.css">
  
</head>
<body>
    
   
    
    <div class = "post"> 

        

         
         <div id="top"> 
            <span><img src="../../../public/assets/wp2126169.jpg" alt="imagem perfil"> 
            <h3>Markos</h3>
            </span>
            <h1>A Ascensão do Pompadoue</h1>  
           
        </div>

        <div id="down">


  


             <div id="left">
              <img src="../../../public/assets/img1.jpg" alt="imagem">
             </div>


            <div id="right">
                
           
               <span> Origem <img src="../../../public/assets/pngwing.com.png"  alt="descer" > </span>
               <span> História <img src="../../../public/assets/pngwing.com.png"> </span>
               <span> Curiosidades  <img src="../../../public/assets/pngwing.com.png"> </span>
               <span > Dicas do Barbeiro  <img src="../../../public/assets/pngwing.com.png"> </span>
               <span> Produtos Recomendados  <img src="../../../public/assets/pngwing.com.png" > </span>
              
            
                </div>  


          </div>
    </div>

    
    
</body>
</html>