<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
</head>
<body>
    
    <div id="box1">
        <div id="navbar">
            <div>
                <img src="../../../public/assets/letreiro.png" alt="letreiro da fadeclub">
            </div>
            
            <div id="secoes"></div>
            <div id="secoes"></div>
        </div>
        <div id="logo">
            <img src="../../../public/assets/FadeClub-logo3.png" alt="logo da fadeclub">
        </div>
        <div id="slogan">
            <h1>Cortes que inspiram,</h1>
            <h1>estilo que conecta.</h1>
        </div>
    </div>
    <div id="box2">
        <div id="destaques">
            <div id="destaquesbox">
                <p>Nossos Destaques</p>
            </div>
            <div id="destaquescards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div id="destaquesbox">
                <p>Últimos Postagens</p>
            </div>
            <div id="destaquescards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div> 
    </div>
    <footer></footer>

</body>
</html>