<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
</head>
<body>
    
    <div>
        <div id="navbar">
            <div id="letreiro"></div>
            <div id="secoes"></div>
        </div>
        <div id="coverMain">
            <div id="heroSection">
                <div id="logo">
                    <img src="../../../public/assets/FadeClub-logo3.png" alt="Logo da FadeClub">
                    
                </div>
                
            </div>
        </div>
        <div id="cover2"></div>
    </div>
    

</body>
</html>