<!DOCTYPE html>
<html lang="pt-br" class="">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto FadeClub</title>
    <link rel="stylesheet" href="../../../public/css/listaPosts.css" />
  </head>

   <body>
    <div class="title">
      <p>Últimas Postagens</p>
    </div>
    
    <div id="searching-camp">
        <div class="button-search">
          <p>O que você procura?</p>
          <img
            src="../../../public/assets/Lupa.png"
            />
        <div class="button-setting">
          
          <img
          src="../../../public/assets/settings.png"
          />
        </div>
      </div>
    </div>


    <div class="filter-options">
      <button class="filter-button1">Tendencias</button>
      <button class="filter-button2">Dicas</button>
      <button class="filter-button3">Técnicas</button>
      <button class="filter-button4">Inspirações</button>
    </div>


<!---    <div class="posts-list"> 
      % posts.forEach(function(post) { %>
        <div class="post-item">
          <h2>%= post.title %></h2>
          <p>%= post.content %></p>
          <span>Autor: %= post.author %></span>
          <span>Data: %= post.date %></span>
        </div>
      % }); %>
    -->
  </body>