<!DOCTYPE html>
<html lang="pt-br" class="">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto FadeClub</title>
    <link rel="stylesheet" href="../../../public/css/listaPosts.css" />
  </head>

   <body>

    <div class="title">
      <p>Últimas Postagens</p>
    </div>
    
    <div id="searching-camp">
          <div class="search">
            <label for="busca"></label>
            <input type="text" id="busca" name="busca" placeholder="O que você procura?">
            
            
            <div class="filter-close-buttons">
              
              <button id="search-button">
              <ion-icon name="search-outline"></ion-icon>
                </button>  
                <button id="filter-button">  
                  <ion-icon name="filter-outline"></ion-icon>
                </button>
                
                <button id="close-button">
                  <ion-icon name="close-outline"></ion-icon>
                </button>
              </div>
            </div>

          </div>
          

          </div>
      </div>
    </div>


    <div id="filter-options">
        <button class="filter-button1">Tendências</button>
        <button class="filter-button4">Inspirações</button>
        <button class="filter-button2">Dicas</button>
        <button class="filter-button3">Técnicas</button>
    </div>


    <div class="posts-list"> 

      <div class="post-item">
        <div class="post-info">
          <div class="post-title">
            <h2>Exemplo de Postagem 1</h2>
            <p>Conteúdo da postagem 1.</p>
          </div>
          <div class="post-footer">
            <span>Autor: João Silva</span>
            <h5>Tendências</h5>
            <div class="see-more">
              <button><ion-icon name="arrow-redo"></ion-icon></button>
            </div>
          </div>
        </div>
          <div class="post-image">
            <img src="./../../../public/assets/arranjo-de-ferramentas-para-barbearia.jpg" alt="Imagem de um homem com cabelo estiloso">
          </div>
      </div>

      <div class="post-item-reverse">
        <div class="post-info">
          <div class="post-title">
            <h2>Exemplo de Postagem 2</h2>
            <p>Conteúdo da postagem 2.</p>
          </div>
          <div class="post-footer">
            <span>Autor: Maria Oliveira</span>
            <h5>Tendências</h5>
            <div class="see-more">
              <button><ion-icon name="arrow-redo"></ion-icon></button>
            </div>
          </div>
        </div>
          <div class="post-image-reverse">
            <img src="./../../../public/assets/mesa-de-cafe-de-luxo-dentro-bar-barista-gerada-por-ia.jpg" alt="Imagem de um homem com cabelo estiloso">
          </div>
      </div>

            <div class="post-item">
        <div class="post-info">
          <div class="post-title">
            <h2>Exemplo de Postagem 3</h2>
            <p>Conteúdo da postagem 3.</p>
          </div>
          <div class="post-footer">
            <span>Autor: João Silva</span>
            <h5>Tendências</h5>
            <div class="see-more">
              <button><ion-icon name="arrow-redo"></ion-icon></button>
            </div>
          </div>
        </div>
          <div class="post-image">
            <img src="./../../../public/assets/ferramentas-de-salao-de-beleza-de-moldura-vintage-em-uma-mesa-de-madeira-em-empregos-e-conceito-de-carreira.jpg" alt="Imagem de um homem com cabelo estiloso">
          </div>
      </div>

            <div class="post-item-reverse">
        <div class="post-info">
          <div class="post-title">
            <h2>Exemplo de Postagem 4Exemplo de Postagem 4Exemplo de Postagem 4Exemplo de Postagem 4</h2>
            <p>Conteúdo da postagem 4.</p>
          </div>
          <div class="post-footer">
            <span>Autor: João Silva</span>
            <h5>Tendências</h5>
            <div class="see-more">
              <button><ion-icon name="arrow-redo"></ion-icon></button>
            </div>
          </div>
        </div>
          <div class="post-image-reverse">
            <img src="./../../../public/assets/homem-bonito-na-barbearia-barbeando-barba.jpg" alt="Imagem de um homem com cabelo estiloso">
          </div>
      </div>

            <div class="post-item">
        <div class="post-info">
          <div class="post-title">
            <h2>Exemplo de Postagem 5</h2>
            <p>ExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemploExemplo</p>
          </div>
          <div class="post-footer">
            <span>Autor: João Silva</span>
            <h5>Tendências</h5>
            <div class="see-more">
              <button><ion-icon name="arrow-redo"></ion-icon></button>
            </div>
          </div>
        </div>
          <div class="post-image">
            <img src="./../../../public/assets/jovem-na-barbearia-aparando-cabelo.jpg" alt="Imagem de um homem com cabelo estiloso">
          </div>
      </div>
    </div>
        

      <div class="pagination">
        <div>
          <button class="pagination-button-left"> <ion-icon name="caret-forward-outline"></ion-icon> </button>
        </div>

        <div class="pagination-button">
          <button class="pagination-button">1</button>
          <button class="pagination-button">2</button>    
          <button class="pagination-button">3</button>
          <button class="pagination-button">4</button>
          <button class="pagination-button">5</button>
        </div>

        <div>
          <button class="pagination-button-right"><ion-icon name="caret-forward-outline"></ion-icon></button>
        </div>

      </div>

      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

      <script src="../../../public/js/listaPosts.js"></script>
  </body>