<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FadeClub - Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo-area">
           <img src="../../../public/assets/fadeclub-logo.png" alt="FadeClub Logo">
            </div>
            <div class="form-area">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="seuemail@gmail.com">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" placeholder="********">
                <button type="submit">Login</button>
            </div>
        </div>
    </div>
</body>
</html>