<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Individual</title>
    <link rel="stylesheet" href="../../../public/css/pagina-individual.css">
</head>
<body>
    <main>
        <div class="postContainer">
            <nav>

            </nav>
            <section class="conteudo">
                <div class="containerEsquerdo">

                </div>
                <div class="containerDireito">
                    
                </div>
            </section>
        </div>
    </main>
</body>
</html>