<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Individual</title>
    <link rel="stylesheet" href="../../../public/css/pagina-individual.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="postContainer">
            <nav>
                <div class="voltar">
                    <svg class="arrow" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.41431 4.70711L0.7072 4L9.31025e-05 4.70711L0.7072 5.41421L1.41431 4.70711ZM13.4143 5.70711C13.9666 5.70711 14.4143 5.25939 14.4143 4.70711C14.4143 4.15482 13.9666 3.70711 13.4143 3.70711V5.70711ZM4.7072 7.7486e-07L0.7072 4L2.12141 5.41421L6.12141 1.41421L4.7072 7.7486e-07ZM0.7072 5.41421L4.7072 9.41421L6.12141 8L2.12141 4L0.7072 5.41421ZM1.41431 5.70711H13.4143V3.70711H1.41431V5.70711Z"/>
                    </svg>
                </div>
                <div class="usuario">
                    <p class="nome">Rafael Amaral</p>
                    <img src="../../../public/assets/Imagens/usuario.png" alt="">
                </div>
            </nav>
            <section class="conteudo">
                <div class="containerEsquerdo">
                    <div class="containerImagem">
                        <img src="../../../public/assets/Cards/card01.jpg" alt="">
                    </div>
                    <div class="containerInformacoes">
                        <div class="titulo">
                            <p>Kit que todo barbeiro deveria possuir.</p>
                        </div>
                        <div class="tag">
                            <p>Dicas</p>
                        </div>
                    </div>
                </div>
                <div class="containerDireito">
                    <p class="historia"><span>Historia: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="curiosidades"><span>Curiosidades: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="dicas"><span>Dicas: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="produtos"><span>Produtos: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="origem"><span>Origem: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </section>
        </div>
    </main>
</body>
</html>