<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Individual</title>
    <link rel="stylesheet" href="../../../public/css/pagina-individual.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="postContainer">
            <nav>
                <div class="voltar">
                    <svg class="arrow" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="#e5e5e5"/>
                    </svg>
                </div>
                <div class="usuario">
                    <p class="nome">Rafael Amaral</p>
                    <img src="../../../public/assets/Imagens/usuario.png" alt="">
                </div>
            </nav>
            <section class="conteudo">
                <div class="containerEsquerdo">
                    <div class="containerImagem">
                        <img src="../../../public/assets/Cards/card01.jpg" alt="">
                    </div>
                    <div class="containerInformacoes">
                        <div class="titulo">
                            <p>Kit que todo barbeiro deveria possuir.</p>
                        </div>
                        <div class="tag">
                            <p>Dicas</p>
                        </div>
                    </div>
                </div>
                <div class="containerDireito">
                    
                </div>
            </section>
        </div>
    </main>
</body>
</html>