<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>
    <link rel="stylesheet" href="../../../public/css/posts.css">
    <link rel="stylesheet" href="../../../public/css/adicionar.css">
    <link rel="stylesheet" href="../../../public/css/visualizar.css" />
    <link rel="stylesheet" href="../../../public/css/editar.css" />
        <link rel="stylesheet" href="../../../public/css/excluir.css" />
</head>
<body>
    <div class="tabela-container">
        <h1 class="titulo">Tabela de Posts</h1>
        
        <button class="btn-add" onclick="abrirModal('Criar')">+<i class="fa-solid fa-plus"></i></button>
        
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="bi bi-eye" onclick="abrirModal('Visualizar')">
                        </i>
                        <i class="bi bi-pencil" onclick="abrirModal('editar')">
                        </i>
                        <i class="bi bi-trash" onclick="abrirModal('excluir')">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="bi bi-eye" onclick="abrirModal('Visualizar')">
                        </i>
                        <i class="bi bi-pencil" onclick="abrirModal('editar')">
                        </i>
                        <i class="bi bi-trash" onclick="abrirModal('excluir')">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="bi bi-eye" onclick="abrirModal('Visualizar')">
                        </i>
                        <i class="bi bi-pencil" onclick="abrirModal('editar')">
                        </i>
                        <i class="bi bi-trash" onclick="abrirModal('excluir')">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="bi bi-eye" onclick="abrirModal('Visualizar')">
                        </i>
                        <i class="bi bi-pencil" onclick="abrirModal('editar')">
                        </i>
                        <i class="bi bi-trash" onclick="abrirModal('excluir')"></i>
                        </i>
                    </td>
                </tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="bi bi-eye" onclick="abrirModal('Visualizar')">
                        </i>
                        <i class="bi bi-pencil" onclick="abrirModal('editar')">
                        </i>
                        <i class="bi bi-trash" onclick="abrirModal('excluir')">
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="paginacao">
            <span>&lt;</span>
            <span class="ativo">1</span>
            <span>2</span>
            <span>3</span>
            <span>&gt;</span>
        </div>
    </div>

    <div class="modal-container" id="Criar">
        <div class="form-box">
            <h2>Criar Publicação</h2>
            <div class="form-right">
                <div class="image-section">
                    <img src="../../../public/assets/previaimg.png" alt="Prévia imagem">
                    <button class="image-btn">Selecionar imagem</button>
                </div>
            </div>
            <div class="form-left">
                <label>Título:</label>
                <input type="text">
                <label>Origem:</label>
                <input type="text">
                <label>Historia:</label>
                <input type="text">
                <label>Curiosidades:</label>
                <input type="text">
                <label>Dicas do barbeiro:</label>
                <input type="text">
                <label>Produtos recomendados:</label>
                <input type="text">
                <div class="close-btn" onclick="fecharModal('Criar')">&times;</div>
            </div>
            <button class="submit-btn">Criar</button>
        </div>
    </div>
    <div class="ver-container" id="Visualizar">
        <div class="form-box">
            <h2>Visualizar Publicação</h2>
            <div class="form-left">
                <label>Título:</label>
                <input type="text">
                <label>Autor:</label>
                <input type="text">
                <label>Data:</label>
                <input type="text">
            </div>
            <div class="form-right">
            </div>
            <button class="submit-btn">Sair</button>
            <div class="close-btn" onclick="fecharModal('Visualizar')">&times;</div>
        </div>
    </div>
        <div class="editar-container" id="editar">
        <div class="form-box">
            <h2>Editar Publicação</h2>
            <div class="form-left">
                <label>Título:</label>
                <input type="text">
                <label>Autor:</label>
                <input type="text">
                <label>Data:</label>
                <input type="text">
                <div class="image-section">
                    <img src="../../../public/assets/previaimg.png" alt="Prévia imagem">
                    <button class="image-btn">Alterar imagem</button>
                </div>
                <div class="close-btn" onclick="fecharModal('editar')">&times;</div>
            </div>
            <div class="form-right">
            </div>
            <button class="submit-btn">Editar</button>
        </div>
    </div>
            <div class="excluir-container" id="excluir">
        <div class="form-box-excluir">
            <h2>Deseja excluir a publicação?</h2>
            <div class="form-excluir">
                <h3>Você tem certeza que deseja excluir essa publicação?</h3>
                <div class="image-section-excluir">
                    <h4>Título da publicação</h4>
                    <img src="../../../public/assets/previaimg.png" alt="Prévia imagem">
                </div>
                <p>Essa ação não poderá ser desfeita</p>
                <div class="close-btn-excluir" onclick="fecharModal('excluir')">&times;</div>
            </div>
            <button class="submit-btn-excluir">Excluir</button>
        </div>
    </div>

    </div>
    <script src="../../../public/js/adicionar.js"></script>
</body>
</html>
