<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Posts</title>
    <link rel="stylesheet" href="../../../public/css/posts.css">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Tabela de Posts</h1>
        
        <button class="btn-add">+<i class="fa-solid fa-plus"></i></button>

        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="fa-regular fa-eye">
                            <img src="../../../public/assets/Eye.png" alt="Ver">
                        </i>
                        <i class="fa-solid fa-pencil">
                            <img src="../../../public/assets/Edit.png" alt="Editar">
                        </i>
                        <i class="fa-solid fa-trash">
                            <img src="../../../public/assets/Delete.png" alt="Deletar">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="fa-regular fa-eye">
                            <img src="../../../public/assets/Eye.png" alt="Ver">
                        </i>
                        <i class="fa-solid fa-pencil">
                            <img src="../../../public/assets/Edit.png" alt="Editar">
                        </i>
                        <i class="fa-solid fa-trash">
                            <img src="../../../public/assets/Delete.png" alt="Deletar">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="fa-regular fa-eye">
                            <img src="../../../public/assets/Eye.png" alt="Ver">
                        </i>
                        <i class="fa-solid fa-pencil">
                            <img src="../../../public/assets/Edit.png" alt="Editar">
                        </i>
                        <i class="fa-solid fa-trash">
                            <img src="../../../public/assets/Delete.png" alt="Deletar">
                        </i>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="fa-regular fa-eye">
                            <img src="../../../public/assets/Eye.png" alt="Ver">
                        </i>
                        <i class="fa-solid fa-pencil">
                            <img src="../../../public/assets/Edit.png" alt="Editar">
                        </i>
                        <i class="fa-solid fa-trash">
                            <img src="../../../public/assets/Delete.png" alt="Deletar">
                        </i>
                    </td>
                </tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td class="img-cell"></td>
                    <td class="acoes">
                        <i class="fa-regular fa-eye">
                            <img src="../../../public/assets/Eye.png" alt="Ver">
                        </i>
                        <i class="fa-solid fa-pencil">
                            <img src="../../../public/assets/Edit.png" alt="Editar">
                        </i>
                        <i class="fa-solid fa-trash">
                            <img src="../../../public/assets/Delete.png" alt="Deletar">
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="paginacao">
            <span>&lt;</span>
            <span class="ativo">1</span>
            <span>2</span>
            <span>3</span>
            <span>&gt;</span>
        </div>
    </div>
</body>
</html