<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de usuários</title>
    <link rel="stylesheet" href="../../../public/css/tabelaUsuarios.css">
    <!-- Metadados para as fontes -->
    <link rel="stylesheet" href="../../../public/css/landingPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bf586e4b37.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Fundo da página -->
    <div class="container">
        <!-- Caixa onde vai ficar o título, o botão de criar e a tabela-->
        <div class="blocoPrincipal">
            <!--Parte do Tabela de usuários e botão de criar -->
            <div class="topo">
                <h1>Tabela de Usuários</h1>
                <div class="criar"><img src="../../../public/assets/criar.svg" alt=""></div>
            </div>
            <div class="tabela">
                <div class="filho filho1">Foto</div>
                <div class="filho filho2">Nome</div>
                <div class="filho filho3">Email</div>
                <div class="filho filho4">ID</div>
                <div class="filho filho5">Ações</div>
                <div class="filho filho6"><img src="../../../public/assets/FotosTabelas/rangel.png" alt=""></div>
                <div class="filho filho7">Rangel</div>
                <div class="filho filho8">rangelouco...</div>
                <div class="filho filho9">5656</div>
                <div class="filho filho10">
                    <div class="acoes">
                        <div class="bot ver"><i class="fa-solid fa-eye" id="vis"></i></div>
                        <div class="bot editar"><i class="fa-regular fa-pen-to-square" id="edit"></i></div>
                        <div class="bot excluir"><i class="fa-solid fa-trash" id="exc"></i></div>
                    </div>
                </div>
                <div class="filho filho11"><img src="../../../public/assets/FotosTabelas/usuario.png" alt="" class="imagemTabela"></div>
                <div class="filho filho12">Alguém</div>
                <div class="filho filho13">------</div>
                <div class="filho filho14">0000</div>
                <div class="filho filho15">
                        <div class="acoes">
                        <div class="bot ver"><i class="fa-solid fa-eye" id="vis"></i></div>
                        <div class="bot editar"><i class="fa-regular fa-pen-to-square" id="edit"></i></div>
                        <div class="bot excluir"><i class="fa-solid fa-trash" id="exc"></i></div>
                    </div>
                </div>
                <div class="filho filho16"><img src="../../../public/assets/FotosTabelas/usuario.png" alt="" class="imagemTabela"></div>
                <div class="filho filho17">Alguém</div>
                <div class="filho filho18">------</div>
                <div class="filho filho19">0000</div>
                <div class="filho filho20">
                    <div class="acoes">
                        <div class="bot ver"><i class="fa-solid fa-eye" id="vis"></i></div>
                        <div class="bot editar"><i class="fa-regular fa-pen-to-square" id="edit"></i></div>
                        <div class="bot excluir"><i class="fa-solid fa-trash" id="exc"></i></div>
                    </div>
                </div>
                <div class="filho filho21"><img src="../../../public/assets/FotosTabelas/usuario.png" alt="" class="imagemTabela"></div>
                <div class="filho filho22">Alguém</div>
                <div class="filho filho23">------</div>
                <div class="filho filho24">0000</div>
                <div class="filho filho25">
                    <div class="acoes">
                        <div class="bot ver"><i class="fa-solid fa-eye" id="vis"></i></div>
                        <div class="bot editar"><i class="fa-regular fa-pen-to-square" id="edit"></i></div>
                        <div class="bot excluir"><i class="fa-solid fa-trash" id="exc"></i></div>
                    </div>
                </div>
                <div class="filho filho26"><img src="../../../public/assets/FotosTabelas/usuario.png" alt="" class="imagemTabela"></div>
                <div class="filho filho27">Alguém</div>
                <div class="filho filho28">------</div>
                <div class="filho filho29">0000</div>
                <div class="filho filho30">
                    <div class="acoes">
                        <div class="bot ver"><i class="fa-solid fa-eye" id="vis"></i></div>
                        <div class="bot editar"><i class="fa-regular fa-pen-to-square" id="edit"></i></div>
                        <div class="bot excluir"><i class="fa-solid fa-trash" id="exc"></i></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>