<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tabela de Usuários</title>

    <script src="https://kit.fontawesome.com/a6a94f2c3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../../public/css/tabelaUStyle.css">
</head>

<body>
    <div class="conteiner">

        <div class="titulo">
            <h2> Tabela de Usuários </h2>
            <i class="fa-light fa-plus"></i>

        </div>

        <div class="cabeca">

            <span>
                Nome
            </span>
            <span>
                E-mail
            </span>
            <span>
                ID
            </span>
            <span>
                Ações
            </span>

        </div>

        <div class="corpo">
            <div id="avatar">
  <img src="../../../public/assets/wp2126169.jpg">
            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>


        <div class="corpo">
            <div id="avatar">

            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>

        
        <div class="corpo">
            <div id="avatar">
                <img src="../../../public/assets/wp2126169.jpg">
            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>
        
        <div class="corpo">
            <div id="avatar">

            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>
        
        <div class="corpo">
            <div id="avatar">

            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>
        
        <div class="corpo">
            <div id="avatar">

            </div>

            <div id="nome">
                nome
            </div>

            <div id="email">
                email@email.com
            </div>

            <div id="ident">
                000000
            </div>

            <div id="acoes">
               <span>acao 1</span>
               <span>acao 2</span>
               <span>acao 3</span>
            </div>

        </div>




    </div>


</body>

</html>