<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modais</title>
    <link rel="stylesheet" href="../../../public/css/visualizarUsuario.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>

    <div class="conteiner">

       

        <div class="conteinerUp">

            <div class="imgPerfil"><img src="../../../public/assets/Imagens/usuario.png" alt=""></div>
        </div>

        <div class="containerDown">
            
                <div class="texto">

                   

                        <div class="user id">
                            <span>ID</span>
                        </div>

                        <div class="user nome">
                            <span>Nome</span>
                           
                        </div>

                         <div class="user email">
                        <span>Email</span>
                             </div>  

                            <div class="user senha">
                        <span>Senha</span>

                         </div>
                   
                      
                         
                   
                </div>

                <div class="sair">
                    <div class="botaoSair">
                        <span>Sair</span>
                    </div>
                </div>
                
                 
              
              
        </div>

    </div>

    </div>








    </div>




</body>

</html>


<!--

    <div class="pagina">

        
        <div class="conteiner">


            <div class="modalVisu">

                <div class="foto">

                </div>

                <div class="texto">
                    <div class="ident">
                        <span></span>
                        <i>0000</i>

                    </div>
                    <div class="nome">
                        <span></span>
                        <i> Ranger</i>
                    </div>
                    <div class="email">
                        <span></span>
                        <i>rangelouco.56@gmail.com</i>

                    </div>
                    <div class="senha">
                        <span></span>
                        <i>****</i>

                    </div>



                </div>


                <div class="botaoSair">
                    Sair
                </div>


            </div>

        </div>*/-->